{"openapi":"3.0.1","info":{"title":"Gemma RESTful API","description":"This website documents the usage of the [Gemma RESTful API](https://gemma.msl.ubc.ca/rest/v2/). Here you can find\nexample script usage of the API, as well as graphical interface for each endpoint, with description of its\nparameters and the endpoint URL.\n\nUse of this webpage and the Gemma Web services, including the REST API, is subject to [these terms and conditions](https://pavlidislab.github.io/Gemma/terms.html).\nPlease read these in full before continuing to use this webpage or any other part of the Gemma system.\n\nYou can [consult the CHANGELOG.md file](https://gemma.msl.ubc.ca/resources/restapidocs/CHANGELOG.md) to view \nrelease notes and recent changes to the Gemma RESTful API.\n","termsOfService":"https://pavlidislab.github.io/Gemma/terms.html","contact":{"name":"Pavlidis Lab Support","url":"https://pavlab.msl.ubc.ca/","email":"pavlab-support@msl.ubc.ca"},"version":"3.0.0"},"servers":[{"url":"https://gemma.msl.ubc.ca/rest/v2"}],"security":[{"basicAuth":[]},{"cookieAuth":[]},{"bearerAuth":[]},{}],"tags":[{"name":"Admin/Pipeline","description":"Curator-driven pipeline batch submissions — admin only. Not part of the client-facing API: marked `x-internal` so an SDK build can drop it.","x-internal":true},{"name":"Admin","description":"System monitoring endpoints — admin only. Not part of the client-facing API: marked `x-internal` so an SDK build can drop it.","x-internal":true},{"name":"Result Sets","description":"Differential expression result sets, their results and p-value distributions"},{"name":"Annotation Sets","description":"Agent- and curator-proposed annotation sets, with triage and per-finding dispositions"},{"name":"Annotations","description":"Ontology terms, the annotations using them, and search over both"},{"name":"Authentication","description":"Bearer-token login and logout"},{"name":"Completions","description":"Prefix lookups backing the CLI and curation-UI pickers"},{"name":"Datasets","description":"Expression experiments: metadata, samples, design, expression data and analyses"},{"name":"Experiment Sets","description":"Named collections of datasets, with membership editing"},{"name":"Genes","description":"Genes, their probes, locations, homologues and GO terms"},{"name":"GO Terms","description":"Reverse Gene2GO lookups over the Gene Ontology"},{"name":"Groups","description":"User groups (CRUD + membership)"},{"name":"Internal/Pipeline","description":"Scheduler push callbacks — service-to-service only. Not part of the client-facing API: marked `x-internal` so an SDK build can drop it.","x-internal":true},{"name":"Platforms","description":"Array designs, their elements and the datasets using them"},{"name":"Preboarded","description":"Proposed-but-not-loaded experiments + agent annotation sets"},{"name":"Search","description":"Free-text search across every indexed result type"},{"name":"Stats","description":"Cached corpus-level statistics for the public home page"},{"name":"Tasks","description":"Status and cancellation for submitted pipeline tasks"},{"name":"Taxa","description":"Taxa, and the genes and datasets scoped to one"},{"name":"Tickets","description":"Curation workflow tickets"},{"name":"Workflow","description":"8-state experiment lifecycle"}],"paths":{"/admin/pipeline/batches/{batchId}/cancel":{"post":{"tags":["Admin/Pipeline"],"summary":"Cancel every non-terminal job in the batch","operationId":"cancelBatch","parameters":[{"name":"batchId","in":"path","description":"Identifier of the pipeline batch.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The batch after every non-terminal job was asked to cancel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatchValueObject"}}}}}}},"/admin/pipeline/batches/{batchId}/jobs/{jobId}/cancel":{"post":{"tags":["Admin/Pipeline"],"summary":"Cancel one job mid-batch","operationId":"cancelJob","parameters":[{"name":"batchId","in":"path","description":"Identifier of the pipeline batch.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"path","description":"Identifier of the pipeline job.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The cancellation was requested. The body is always `true`; a job that cannot be cancelled fails with an error status instead.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectBoolean"}}}}}}},"/admin/pipeline/batches/{batchId}":{"get":{"tags":["Admin/Pipeline"],"summary":"Retrieve one batch with rollup state","operationId":"getBatch","parameters":[{"name":"batchId","in":"path","description":"Identifier of the pipeline batch.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The batch, with one entry in `jobs` per experiment it was submitted against.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatchValueObject"}}}}}}},"/admin/pipeline/batches/{batchId}/jobs/{jobId}/events":{"get":{"tags":["Admin/Pipeline"],"summary":"List progress events for one job","operationId":"jobEvents","parameters":[{"name":"batchId","in":"path","description":"Identifier of the pipeline batch.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"path","description":"Identifier of the pipeline job.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"sinceMillis","in":"query","description":"Only include events at or after this instant, in milliseconds since the Unix epoch.","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The progress events recorded for the job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListPipelineJobEventValueObject"}}}}}}},"/admin/pipeline/batches":{"get":{"tags":["Admin/Pipeline"],"summary":"List batches submitted by the current curator","operationId":"listMyBatches","parameters":[{"name":"state","in":"query","description":"Restrict to batches in this state.","schema":{"type":"string","enum":["OPEN","CLOSED","CANCELLED"]}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The batches submitted by the calling curator. `jobs` is empty on every row — a listing does not fetch them; read one batch to get its jobs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListPipelineJobBatchValueObject"}}}}}},"post":{"tags":["Admin/Pipeline"],"summary":"Submit a new pipeline batch","operationId":"submitBatch","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmitBatchRequest"}}}},"responses":{"200":{"description":"The batch as submitted, with one entry in `jobs` per experiment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatchValueObject"}}}}}}},"/admin/pipeline/registry":{"get":{"tags":["Admin/Pipeline"],"summary":"List pipeline names known to this Gemma instance","operationId":"pipelineRegistry","responses":{"200":{"description":"The pipeline names this instance can run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListString"}}}}}}},"/admin/blacklist":{"get":{"tags":["Admin"],"summary":"List blacklist entries","description":"Returns the current blacklist sorted by accession with `limit`/`offset` pagination applied in-process. `limit` defaults to 100 and is capped at 1000; `offset` defaults to 0. The response includes the total count of entries on the blacklist (independent of paging) so the UI can render a page navigator.","operationId":"listBlacklistEntries","parameters":[{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"How many results to skip before the page begins. Mutually exclusive with `cursor`.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"The blacklist entries.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectBlacklistListResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Add a blacklist entry","description":"Creates a blacklist row for the given GEO accession (GPL* → BlacklistedPlatform; GSE* → BlacklistedExperiment). Synchronous: the row is persisted before the response returns. Returns 201 with the new entry's value object. Returns 400 when accession or reason is missing, or when the accession prefix is neither GPL nor GSE. Returns 409 when an entry for that accession already exists (to update the reason, delete the entry and re-add it).","operationId":"addBlacklistEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistRequest"}}}},"responses":{"201":{"description":"The blacklist entry as stored.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectBlacklistedValueObject"}}}},"400":{"description":"Body missing, accession blank, reason blank, or unrecognised prefix","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Accession is already blacklisted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/obsolete-terms/apply":{"post":{"tags":["Admin"],"summary":"Correct annotations using obsolete ontology terms (dry run by default)","description":"Rewrites every slot the obsolete term occupies — category, value, predicate, object — to the successor asserted by `IAO:0100001` or by a merge record, and records the correction in each characteristic's `supportingEvidence` with an `assertedBy` naming the rule that derived it. Afterwards it rebuilds EE2C and ANNOTATION_RELATION for each affected experiment and writes one `AutomatedAnnotationEvent` per experiment.\n\n**Runs as a task**: returns 202 with a task id; poll `/tasks/{taskId}`.\n\n**`dryRun` defaults to true.** Pass `dryRun=false` to write.\n\n`uris` restricts the run to specific obsolete terms; omit it to take every auto-correctable term. Two terms are deferred and are skipped by a blanket run — EFO_0000408 (the `disease` category, ~7,600 experiments) and OBI_0003109 (single-nucleus, whose successor discards the nuclei/cells distinction) — naming one explicitly in `uris` overrides that.","operationId":"applyObsoleteTermCorrections","parameters":[{"name":"dryRun","in":"query","description":"Set false to actually write. Defaults to a dry run.","schema":{"type":"boolean","default":true}},{"name":"uris","in":"query","description":"Restrict to these obsolete term URIs; omit for every auto-correctable term.","schema":{"type":"array","items":{"type":"string"}}},{"name":"timeoutSeconds","in":"query","description":"Budget in seconds for resolving terms against the loaded ontologies.","schema":{"type":"integer","format":"int32","default":600}}],"responses":{"202":{"description":"Correction task submitted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectObsoleteTermCorrectionSubmission"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/caches":{"get":{"tags":["Admin"],"summary":"List the registered caches","description":"Returns the names of all caches known to the Spring CacheManager, sorted alphabetically. Per-cache hit/miss statistics are not available on the current build (post-EhCache-2 era).","operationId":"getCaches","responses":{"200":{"description":"Every registered cache with its hit / miss counts. Stat fields are null on a cache whose JCache statistics MBean is missing, which is not the same as a cache that has seen no traffic.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectCacheListResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"delete":{"tags":["Admin"],"summary":"Clear all registered caches","description":"Iterates over the Spring CacheManager and clears every cache. Returns 204 on success.","operationId":"clearAllCaches","responses":{"204":{"description":"All caches cleared."}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/caches/{cacheName}":{"delete":{"tags":["Admin"],"summary":"Clear a single named cache","description":"Clears the cache identified by `{cacheName}`. Returns 204 on success, 404 if no cache by that name is registered.","operationId":"clearCache","parameters":[{"name":"cacheName","in":"path","description":"Name of the cache, as `GET /admin/caches` lists it.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Cache cleared."},"404":{"description":"No cache registered under that name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users":{"get":{"tags":["Admin"],"summary":"List all users","description":"Returns every User row with their username, email, enabled flag, granted group authorities, signup-token-pending flag, soft-delete timestamps. Soft-deleted users are excluded unless `includeDeleted=true`. Sorted alphabetically by username.","operationId":"getUsers","parameters":[{"name":"includeDeleted","in":"query","description":"Include user accounts that have been deleted.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Every user account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectUsersListResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Create a user with a temporary password","description":"Creates an immediately-enabled user (no email confirmation flow), generates a 16-character secure-random temp password, optionally grants admin role, and returns the plaintext temp password in the response body. The password appears in the response exactly once — store it elsewhere before navigating away. Returns 409 if username or email already exists.","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}}},"responses":{"201":{"description":"The user was created. The body carries a server-generated temporary password, shown exactly once and not recoverable afterwards.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectCreateUserResponse"}}}},"400":{"description":"Missing or malformed username/email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Username or email already taken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/blacklist/{accession}":{"delete":{"tags":["Admin"],"summary":"Remove a blacklist entry","description":"Removes the blacklist row matching `{accession}`. Returns 204 on success, 404 when no entry exists.","operationId":"deleteBlacklistEntry","parameters":[{"name":"accession","in":"path","description":"The accession, spelled as the source database spells it.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Entry removed."},"404":{"description":"No blacklist entry for that accession","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users/{username}":{"delete":{"tags":["Admin"],"summary":"Soft-delete a user","description":"Sets deletedAt = now, deletedBy = the current admin's username, and enabled = false. The User row stays in the database — hard delete via REST is forbidden because ACL sids and audit-event authorship FKs reference the user. Idempotent: a second DELETE on an already-deleted user returns 204.","operationId":"deleteUser","parameters":[{"name":"username","in":"path","description":"The user's login name.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"User soft-deleted (or already was)."},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"patch":{"tags":["Admin"],"summary":"Toggle a user's enabled flag and/or admin role","description":"Body fields are optional; only the supplied fields are applied. `enabled=false` locks the account (the user can't log in). `isAdmin=true` adds the user to the Administrators group; `isAdmin=false` removes them. 404 if the username doesn't exist; 400 if the body is empty.","operationId":"patchUser","parameters":[{"name":"username","in":"path","description":"The user's login name.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}}},"responses":{"200":{"description":"The user after the change.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectUserValueObject"}}}},"400":{"description":"Empty body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/curation-locks":{"get":{"tags":["Admin"],"summary":"List every currently-held curation lock, corpus-wide","description":"Unlike the per-dataset `GET /datasets/{dataset}/curation/lock` and its bulk-by-id siblings, this names every locked dataset without the caller supplying a list of ids first, which is what an admin release panel needs. Admin-only, since it is not scoped to datasets the caller can already read. A lapsed claim is never returned — nothing sweeps expired rows, so the underlying table can hold more than this lists.","operationId":"getAllCurationLocks","responses":{"200":{"description":"Every unexpired curation lock, newest first.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCurationLockValueObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/curation-agent/health":{"get":{"tags":["Admin"],"summary":"Curation-agents service liveness probe","description":"Issues a GET against `gemma.curationAgent.healthUrl` with a `gemma.curationAgent.healthTimeoutMs`-millisecond timeout (default 3000). Returns `status` = UP / DOWN / NOT_CONFIGURED, latencyMillis, and either the upstream HTTP status code or the exception class name. Always returns HTTP 200 — even when DOWN — so the UI can poll without triggering error handlers.","operationId":"getCurationAgentHealth","responses":{"200":{"description":"Whether the curation-agents service answered, and what it said.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectCurationAgentHealthResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/curation-status":{"get":{"tags":["Admin"],"summary":"Annotation-set + ticket lifecycle snapshot","description":"Per-role breakdown of AnnotationSet rows (last 24h / 7d / by role) plus open-ticket counts by TicketType and the oldest open-ticket age. Read-only.","operationId":"getCurationStatus","responses":{"200":{"description":"A roll-up of annotation-set and ticket lifecycle state across the corpus.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectCurationStatusResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/db/pool":{"get":{"tags":["Admin"],"summary":"Database connection pool snapshot","description":"Returns HikariCP pool stats: active / idle / total connections, threads currently awaiting a connection, plus the configured maximum pool size, connection-timeout, and the server-side statement timeout the pool opens its connections with (`maxExecutionTimeMillis`, null when uncapped). 503 if the configured DataSource is not a HikariDataSource.","operationId":"getDbPool","responses":{"200":{"description":"A snapshot of the HikariCP connection pool. Answers 503 instead when the configured DataSource is not Hikari.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectDbPoolResponse"}}}},"503":{"description":"Configured DataSource is not HikariCP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/hibernate/stats":{"get":{"tags":["Admin"],"summary":"Hibernate statistics snapshot","description":"Returns a flat snapshot of the Hibernate session-factory statistics: counts of sessions opened/closed, transactions, flushes, prepared statements, queries executed, plus query-cache and second-level-cache hit/miss/put counters. When Hibernate statistics collection is disabled the counters report zero.","operationId":"getHibernateStats","responses":{"200":{"description":"A snapshot of Hibernate's statistics counters, as of this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectHibernateStatsResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/jobs":{"get":{"tags":["Admin"],"summary":"List currently tracked background tasks","description":"Returns a snapshot of every task currently tracked by the in-memory task store, sorted by submission time (newest first), with counts of tasks by status. The store evicts tasks roughly 10 minutes after completion.","operationId":"getJobs","responses":{"200":{"description":"The background tasks currently tracked in memory. A task that has finished and been evicted is simply absent.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectJobsListResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/geo-scrape/last":{"get":{"tags":["Admin"],"summary":"DEPRECATED -- superseded by the curation agent's own scraping (scrape_geo_and_open_triage.py). Most recent GEO scrape watermark","description":"Returns the most recently created GeoScrapeWatermark row (IN_PROGRESS / COMPLETED / FAILED / CANCELLED), or 404 if no scrape has ever been run.","operationId":"getLastGeoScrape","responses":{"200":{"description":"The last scrape watermark. Deprecated: the curation agent does its own scraping and does not update this.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectGeoScrapeWatermarkValueObject"}}}},"404":{"description":"No scrape has been run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true,"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/obsolete-terms":{"get":{"tags":["Admin"],"summary":"Report obsolete ontology terms still used by annotations","description":"In-application port of `FindObsoleteTermsCli`. Groups CHARACTERISTIC by term URI across the subject, predicate and object slots, checks each distinct URI against the loaded ontologies, and reports those that are obsolete along with the experiment count and the replacement the ontology asserts via `IAO:0100001`. Gene Ontology annotations are excluded, matching the CLI. Rows where `autoCorrectable` is true are ones whose replacement is asserted by the ontology and itself resolves and is current; everything else names why in `blockedReason` and needs a curator. Requires the ontologies to be loaded — with `load.ontologies=false` every term reads as unresolvable and the report comes back empty.","operationId":"getObsoleteTerms","parameters":[{"name":"timeoutSeconds","in":"query","description":"Budget in seconds for resolving terms against the loaded ontologies.","schema":{"type":"integer","format":"int32","default":120}}],"responses":{"200":{"description":"The obsolete ontology terms still referenced by annotations, with where each is used.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListObsoleteTermUsage"}}}},"503":{"description":"Resolving terms exceeded the timeout; the ontologies are probably still loading.","headers":{"Retry-After":{"description":"How long to wait before retrying this request. Sent in either form RFC 9110 permits — a delay in seconds (`5`) or an HTTP-date (`Wed, 18 Sep 2026 21:04:11 GMT`) — so parse both.","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies":{"get":{"tags":["Admin"],"summary":"Loaded-ontology status snapshot","description":"Enumerates every OntologyService bean and reports its stable `identifier` (the handle to pass to the refresh / rebuild-slim endpoints), the full set of `acceptedNames` those endpoints match on, and enabled / loaded / initialization-thread state, inference mode, language level, search-enabled flag, and process-imports flag. Term counts are not included by default (`getAllURIs()` traverses the in-memory model); pass `?includeTermCount=true` to include them. If a bean throws while being inspected the error message is captured in the row's `error` field and inspection of the remaining ontologies continues.","operationId":"getOntologies","parameters":[{"name":"includeTermCount","in":"query","description":"Populate each ontology's term count. Off by default because counting is not free.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Which ontologies are loaded, and how far along the ones still loading are.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectOntologiesResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/search/indices":{"get":{"tags":["Admin"],"summary":"Hibernate Search 7 per-index status","description":"Enumerates every @Indexed entity known to Hibernate Search 7 and reports, for each: the JPA entity name, the Java simple class name, the Lucene index name, the on-disk index directory (under `gemma.search.dir`), the document count (matchAll fetchTotalHitCount), and the directory mtime. Document-count queries run in a short-lived Hibernate session; on query failure the documentCount field is reported as -1 and the error message is included.","operationId":"getSearchIndices","responses":{"200":{"description":"Per-index status for the Hibernate Search indices.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSearchIndicesResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Trigger a Hibernate Search 7 mass-reindex","description":"Kicks off a destructive rebuild of the on-disk Lucene index for one (or all) indexable entities. Returns 202 with a list of queued entities. Run via the legacy CLI (IndexGemmaCLI) too — this endpoint is the curation-UI / ops-script equivalent so an admin can rebuild without shelling onto the container.","operationId":"reindexSearchIndices","parameters":[{"name":"entity","in":"query","description":"Restrict the reindex to one entity type, by simple class name. Omit to reindex every indexed type.","schema":{"type":"string","nullable":true}}],"responses":{"202":{"description":"Accepted. The body lists the entity classes whose reindex was queued; the work runs in the background and reports no further status here.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectReindexAcceptedResponse"}}}},"400":{"description":"Unknown entity name.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Another reindex is already running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/sessions":{"get":{"tags":["Admin"],"summary":"List authenticated users with active sessions","description":"Enumerates every principal registered with the Spring Security `SessionRegistry`. For each principal returns the username, the count of currently-tracked sessions (excluding expired), the timestamp of the most recent request across those sessions, and the list of granted authorities when the principal is a `UserDetails`. Anonymous sessions are not included — only authenticated ones are tracked.","operationId":"getSessions","responses":{"200":{"description":"The authenticated users that currently hold a session.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSessionsResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/system":{"get":{"tags":["Admin"],"summary":"JVM and OS resource snapshot","description":"Returns a single-read snapshot of process resources: heap and non-heap memory (used/committed/max bytes), thread counts (live, daemon, peak), uptime, OS name/version/arch, processor count, and 1-minute system load average. For historical series use `/metrics` (Prometheus).","operationId":"getSystem","responses":{"200":{"description":"A single read of the process's memory, GC, thread and load counters. No history — that is what `/metrics` is for.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSystemSnapshotResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/geo-grab":{"post":{"tags":["Admin"],"summary":"Scrape GEO record metadata by accession","description":"Fetches GEO series metadata for the given accessions and returns it without importing into Gemma. Useful for previewing a GEO record from the curation-UI before triggering a full import. Synchronous; expect sub-second latency per accession. Uses the DETAILED retrieve preset (sub-series status, MeSH headings, library strategy, sample details, errors ignored).","operationId":"grabGeoRecords","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoGrabRequest"}}}},"responses":{"200":{"description":"The scraped GEO metadata for the requested accessions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectGeoGrabResponse"}}}},"400":{"description":"Empty or missing accessions list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"502":{"description":"GEO E-utilities request failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/import-geo":{"post":{"tags":["Admin"],"summary":"Submit a batch of GEO accessions for async import","description":"Iterates `accessions` and submits one async load task per accession (port of `LoadExpressionDataCli`'s bulk path). Optional flags are applied uniformly across the batch. Returns 202 with the list of submitted task IDs — poll each one via `/tasks/{taskId}`. Rejects an empty list or more than 100 accessions with 400. Blank entries inside the list are silently skipped; if every entry is blank the request is rejected.","operationId":"importGeoBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportGeoBatchRequest"}}}},"responses":{"202":{"description":"Accepted. The body reports how many accessions were queued once blanks were skipped, and the task id of each in the order of the cleaned list — poll them individually at `GET /tasks/{taskId}`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectImportGeoBatchResponse"}}}},"400":{"description":"Body missing, accession list empty, or batch over cap","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/{name}/rebuild-slim":{"post":{"tags":["Admin"],"summary":"Rebuild the slim-cache for an ontology","description":"Currently only CHEBI and MONDO are supported (other ontologies return 404). Accepts the same name spellings as the refresh endpoint. Kicks off the slim extraction asynchronously and returns 202. The service must already be loaded. 409 if a rebuild is already in flight.","operationId":"rebuildOntologySlim","parameters":[{"name":"name","in":"path","description":"Name of the ontology, as `GET /admin/ontologies` lists it.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Rebuild started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectOntologyRefreshResponse"}}}},"404":{"description":"Ontology not found or doesn't support slim rebuild.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Rebuild already in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology is not loaded yet.","headers":{"Retry-After":{"description":"How long to wait before retrying this request. Sent in either form RFC 9110 permits — a delay in seconds (`5`) or an HTTP-date (`Wed, 18 Sep 2026 21:04:11 GMT`) — so parse both.","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/{name}/refresh":{"post":{"tags":["Admin"],"summary":"Refresh a single ontology in-process","description":"Kicks off an asynchronous re-initialization of the named ontology. The name may be the ontology's well-known abbreviation (`CLO`, `HPO`, `TGEMO`, ...), its identifier (`cellLineOntology`), its class name, or its `dc:title`; matching ignores case and punctuation, and every accepted spelling is listed as `acceptedNames` by `GET /admin/ontologies`. The currently-loaded model keeps serving reads until the new model is built and atomically swapped in. Use the per-ontology load-status endpoint to watch progress. 404 if no bean matches the given name; 409 if a refresh on that ontology is already running.","operationId":"refreshOntology","parameters":[{"name":"name","in":"path","description":"Name of the ontology, as `GET /admin/ontologies` lists it.","required":true,"schema":{"type":"string"}},{"name":"forceIndexing","in":"query","description":"Re-index the ontology even when its content has not changed.","schema":{"type":"boolean","default":false}}],"responses":{"202":{"description":"Refresh accepted; the initialization thread is now running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectOntologyRefreshResponse"}}}},"404":{"description":"No ontology with that name.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"A refresh is already in progress for that ontology.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/platforms/{platform}/report":{"post":{"tags":["Admin"],"summary":"Regenerate the cached report for one platform","description":"Recomputes and rewrites the on-disk report backing `numberOfGenes` / `numberOfMappedElements` for a single platform, and returns the refreshed value object. Synchronous; takes a couple of seconds on a large platform.","operationId":"regeneratePlatformReport","parameters":[{"name":"platform","in":"path","description":"Platform identifier: either the ArrayDesign id or its short name (e.g. GPL1355).","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A platform numerical identifier.","format":"int64"},{"type":"string","description":"A platform short name."}]}}],"responses":{"200":{"description":"The platform, with its report freshly regenerated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectArrayDesignValueObject"}}}},"404":{"description":"No platform matches the supplied identifier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/hibernate/reset":{"post":{"tags":["Admin"],"summary":"Reset Hibernate statistics","description":"Clears the Hibernate session-factory statistics counters. Returns 204 on success. Has no effect on whether statistics collection itself is enabled.","operationId":"resetHibernateStats","responses":{"204":{"description":"Hibernate statistics reset."}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users/{username}/password":{"post":{"tags":["Admin"],"summary":"Reset a user's password to a temporary password","description":"Generates a 16-character secure-random temp password, sets it (encoded) as the user's password, and returns the plaintext once. The password appears in the response exactly once — store it elsewhere before navigating away. 404 if the username doesn't exist; 409 if the user is soft-deleted.","operationId":"resetUserPassword","parameters":[{"name":"username","in":"path","description":"The user's login name.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The generated temporary password, shown exactly once and not recoverable afterwards.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectResetPasswordResponse"}}}},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"User is soft-deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/geo-scrape":{"post":{"tags":["Admin"],"summary":"DEPRECATED -- superseded by the curation agent's own scraping (scrape_geo_and_open_triage.py). Submit a GEO scrape & preboard run (async, or sync dry-run)","description":"Iterates recent GEO records, filters to human/mouse/rat expression profiling, evaluates the registered matchers (subset selectable via `criteria`: {brain, scbrain, tfperturb}). With dryRun=false (default) creates PreboardedExperiment rows and returns 202 + async task ID. With dryRun=true evaluates only and returns 200 + the candidate list inline (no watermark, no preboarded rows, no ticket). DRY RUNS MUST BE KEPT SMALL: the sync branch is subject to the 60-second proxy timeout in front of this API, and the scrape grows superlinearly because every Entrez call passes through a global rate gate (333 ms between calls without an NCBI API key, 100 ms with one). Measured 2026-08-12 against live: 50 records 6s, 100 records 22s, 150 records 37s, 200 records 502 Proxy Error at 60s, and the 1000 default cannot complete synchronously at all. Keep dryRun batches at or under ~100 records and walk a backlog by moving the `since`/`until` window — NOT by repeating `maxRecords`, which always restarts from record 0. dryRun=false is unaffected: it is already async and returns immediately.","operationId":"submitGeoScrape","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoScrapeRequest"}}}},"responses":{"200":{"description":"dryRun=true — candidates inline.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoScrapeDryRunResponse"}}}},"202":{"description":"dryRun=false — async submission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectGeoScrapeSubmitResponse"}}}}},"deprecated":true,"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/multifunctionality":{"post":{"tags":["Admin"],"summary":"Submit an async recompute of per-gene multifunctionality for one taxon","description":"Port of `MultifunctionalityCli`. Resolves `taxon` (common name, scientific name, NCBI ID, or Gemma taxon ID) and submits a single async task that calls `GeneMultifunctionalityPopulationService.updateMultifunctionality(taxon)`. Returns 202 with the submitted task ID; poll `/tasks/{taskId}` for progress.","operationId":"submitMultifunctionalityRecompute","parameters":[{"name":"taxon","in":"query","description":"Taxon identifier: its id, or its scientific or common name. The id is unambiguous.","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}}],"responses":{"202":{"description":"Accepted. The body carries the task id to poll at `GET /tasks/{taskId}`, and the taxon the recompute resolved to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectMultifunctionalityRecomputeResponse"}}}},"400":{"description":"Missing or malformed taxon identifier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No taxon matches the supplied identifier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/platform-reports":{"post":{"tags":["Admin"],"summary":"Submit an async regeneration of every platform's cached report","description":"Port of the `updatePlatformReports` CLI. Submits a single async task that rewrites the on-disk report for every platform plus the all-platforms summary. Returns 202 with the submitted task ID; poll `/tasks/{taskId}` for progress.","operationId":"submitPlatformReportsRegeneration","responses":{"202":{"description":"Accepted. The body carries the task id to poll at `GET /tasks/{taskId}`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSubmittedJobResponse"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/resultSets/count":{"get":{"tags":["Result Sets"],"summary":"Count result sets matching the provided filter","operationId":"getNumberOfResultSets","parameters":[{"name":"filter","in":"query","description":"Restrict the results with a filter expression. The schema documents the syntax and lists the properties available.","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"},"example":""}],"responses":{"200":{"description":"The number of result sets matching the filter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectLong"}}}}}}},"/resultSets/{resultSet}/pvalueDistribution":{"get":{"tags":["Result Sets"],"summary":"Binned p-value distribution for a differential-expression result set","description":"Returns the p-value histogram stored with the result set, optionally down-binned by merging adjacent stored bins. The histogram is written when the differential-expression analysis is run — 100 fixed-width bins over [0, 1] of the **raw** p-values — and is served verbatim; nothing is computed per request. `bins` must therefore divide the stored bin count (100) exactly: 1, 2, 4, 5, 10, 20, 25, 50 or 100. Any other value is rejected with a 400, because splitting a stored count across two output bins would be inventing data. Bin i covers (i/bins, (i+1)/bins]; the first bin also includes 0.0. Note this is the closed-on-the-right convention of the stored histogram, not the half-open one. `column` accepts only `raw`: no corrected-p-value histogram is stored anywhere, and building one would mean scanning the full results table, so `column=corrected` is rejected with a 400 instead of silently answering with the raw distribution.","operationId":"getPvalueDistribution","parameters":[{"name":"resultSet","in":"path","description":"Identifier of the differential expression analysis result set.","required":true,"schema":{"type":"integer","description":"An expression analysis result set numerical identifier.","format":"int32"}},{"name":"bins","in":"query","description":"Number of bins. Must divide the stored bin count (100) exactly: 1, 2, 4, 5, 10, 20, 25, 50 or 100.","schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":20}},{"name":"column","in":"query","description":"Which p-value column to serve. Only the raw distribution is stored; 'corrected' is rejected with a 400.","schema":{"type":"string","default":"raw","enum":["raw"]}}],"responses":{"200":{"description":"The stored p-value histogram, rebinned to the requested number of bins.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PvalueDistributionResponseDataObject"}}}},"204":{"description":"The stored histogram is empty — it has no bins, or every bin is zero (the analysis produced no non-null p-values)."},"400":{"description":"`bins` does not divide the stored bin count, or `column` is not 'raw'.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The analysis result set could not be found, or it has no stored p-value distribution.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/resultSets/{resultSet}":{"get":{"tags":["Result Sets"],"summary":"Retrieve a single analysis result set by its identifier","description":"A slice or results can be retrieved by specifying the `offset` and `limit` parameters. This is only applicable to the JSON representation. The TSV output exposes the following columns: id, probe_id, probe_name, gene_(id|name|ncbi_id|official_symbol|official_name), pvalue, corrected_pvalue, rank, contrast_{fvId}_(coefficient|log2fc|tstat|pvalue). For interaction terms, `{fvId}` is structured as `{id1}_{id2}`. For continuous factors, `{fvId}` is empty and a single `_` delimiter is used.","operationId":"getResultSet","parameters":[{"name":"resultSet","in":"path","description":"Identifier of the differential expression analysis result set.","required":true,"schema":{"type":"integer","description":"An expression analysis result set numerical identifier.","format":"int32"}},{"name":"threshold","in":"query","description":"Only include results at or below this p-value threshold.","schema":{"type":"number","format":"double"}},{"name":"offset","in":"query","description":"How many results to skip before the page begins. Mutually exclusive with `cursor`.","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32"}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32"}},{"name":"includeFactorValuesInContrasts","in":"query","description":"Include complete factor values in contrasts instead of only populating `factorValueId` and `secondFactorValueId`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}},{"name":"includeTaxonInGenes","in":"query","description":"Include complete taxon in genes instead of only populating `taxonId`. When this is set to true, a `taxa` collection will be included in `DifferentialExpressionAnalysisResultSetValueObject`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"The result set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"}},"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string"},"example":"# If you use this file for your research, please cite:\n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse.\n# Database, baab006 (doi:10.1093/database/baab006).\n# Experimental factors: [name: Diet, values: [id: 20959, characteristics: [high fat diet], id: 20960, characteristics: [reference subject role]]]\n# Baseline: id: 20959, characteristics: [high fat diet]\nid\tprobe_id\tprobe_name\tgene_id\tgene_name\tgene_ncbi_id\tgene_official_symbol\tgene_official_name\tpvalue\tcorrected_pvalue\trank\tcontrast_20960_coefficient\tcontrast_20960_log2fc\tcontrast_20960_tstat\tcontrast_20960_pvalue\n107660162\t6379542\tILMN_1256775\t582688\tThrsp\t21835\tThrsp\tthyroid hormone responsive\t7.375E-9\t0.0001\t2.144E-5\t3.1352\t3.1352\t17.6207\t7.375E-9\n107678499\t6358971\tILMN_2690657\t813306\tBpifb6\t228796\tBpifb6\tBPI fold containing family B, member 6\t7.832E-9\t0.0001\t4.289E-5\t-1.6286\t-1.6286\t-17.5121\t7.832E-9\n107643534\t6363391\tILMN_1222060\t619131\tArhgef5\t54324\tArhgef5\tRho guanine nucleotide exchange factor 5\t1.329E-8\t0.0001\t6.433E-5\t-1.2474\t-1.2474\t-16.5818\t1.329E-8\n107647171\t6357370\tILMN_1229667\t702894\tSlc43a1\t72401\tSlc43a1\tsolute carrier family 43, member 1\t2.093E-8\t0.0001\t8.578E-5\t1.0412\t1.0412\t15.8207\t2.093E-8\n107665034\t6350196\tILMN_2460179\t797000\tTph2\t216343\tTph2\ttryptophan hydroxylase 2\t3.414E-8\t0.0002\t0.0001\t-3.8165\t-3.8165\t-15.037\t3.414E-8\n107671178\t6363608\tILMN_2591159\t695665\tFam13c\t71721\tFam13c\tfamily with sequence similarity 13, member C\t4.385E-8\t0.0002\t0.0001\t-0.5792\t-0.5792\t-14.6504\t4.385E-8\n107641223\t6360279\tILMN_1217241\t785630\tKlhl25\t207952\tKlhl25\tkelch-like 25\t5.419E-8\t0.0002\t0.0002\t-0.756\t-0.756\t-14.3302\t5.419E-8\n107657532\t6339362\tILMN_1251292\t502225|502237\tEar1|Ear2\t13586|13587\tEar1|Ear2\teosinophil-associated, ribonuclease A family, member 1|eosinophil-associated, ribonuclease A family, member 2\t9.577E-8\t0.0003\t0.0002\t-1.4862\t-1.4862\t-13.5006\t9.577E-8\n107680187\t6345095\tILMN_2713898\t486090\tDdr1\t12305\tDdr1\tdiscoidin domain receptor family, member 1\t1.172E-7\t0.0003\t0.0002\t-0.8617\t-0.8617\t-13.2167\t1.172E-7\n107684452\t6363087\tILMN_2772273\t724368\tCldn22\t75677\tCldn22\tclaudin 22\t1.634E-7\t0.0004\t0.0002\t0.6557\t0.6557\t12.7622\t1.634E-7\n107641691\t6378887\tILMN_1218223\t561628\tPvalb\t19293\tPvalb\tparvalbumin\t1.918E-7\t0.0004\t0.0002\t-1.9261\t-1.9261\t-12.5478\t1.918E-7\n107652484\t6371658\tILMN_1240770\t760788\tAcly\t104112\tAcly\tATP citrate lyase\t2.145E-7\t0.0004\t0.0003\t1.8169\t1.8169\t12.4002\t2.145E-7\n107684617\t6340514\tILMN_2774161\t523186\tHsd11b1\t15483\tHsd11b1\thydroxysteroid 11-beta dehydrogenase 1\t2.022E-7\t0.0004\t0.0003\t1.4447\t1.4447\t12.4776\t2.022E-7\n107654165\t6372412\tILMN_1244211\t\t\t\t\t\t2.463E-7\t0.0005\t0.0003\t1.2247\t1.2247\t12.2193\t2.463E-7\n"}}},"404":{"description":"The analysis result set could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/resultSets":{"get":{"tags":["Result Sets"],"summary":"Retrieve all result sets matching the provided criteria","description":"Supports two pagination modes. Legacy mode: pass `offset` (and `limit`); response includes `offset` and `totalElements`. Cursor mode (recommended for deep pagination and consistency under writes): pass an opaque `cursor` token from a previous response's `nextCursor` / `prevCursor` field. `offset` and `cursor` are mutually exclusive — passing a non-null `cursor` selects cursor mode. In cursor mode the result is always sorted by ascending `id` (the user's `?sort=` is ignored); the dataset / databaseEntry / filter constraints are preserved; `totalElements` is `null` by default (no count query per request).","operationId":"getResultSets","parameters":[{"name":"datasets","in":"query","description":"Dataset identifiers, comma-separated. Each is an ExpressionExperiment id or short name.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"databaseEntries","in":"query","description":"Database entry identifiers, comma-separated.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of database entry IDs or accessions. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A database entry numerical identifier.","format":"int64"},{"type":"string","description":"A database entry name."}]}}},{"name":"filter","in":"query","description":"Restrict the results with a filter expression. The schema documents the syntax and lists the properties available.","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"},"example":""},{"name":"offset","in":"query","description":"How many results to skip before the page begins. Mutually exclusive with `cursor`.","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","description":"Order the results by a property: `+` for ascending, `-` for descending.","schema":{"$ref":"#/components/schemas/SortArgExpressionAnalysisResultSet"},"example":"+id"},{"name":"cursor","in":"query","description":"Opaque keyset-pagination cursor token; mutually exclusive with `offset`.","schema":{"type":"string","description":"An opaque cursor token returned in a previous response's nextCursor or prevCursor field, used for keyset pagination."}}],"responses":{"200":{"description":"The matching result sets.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FilteredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"},{"$ref":"#/components/schemas/FilteredAndCursorPaginatedResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"}]}}}}}}},"/annotation-sets/{id}/dispositions":{"get":{"tags":["Annotation Sets"],"summary":"Read the per-finding rulings on an annotation set","description":"By default one row per finding: the STANDING ruling, which is the most recent. Pass `?history=true` for the full append-only sequence, most recent first, superseded rulings included — that is where a ruling that moved is visible. An empty list means nobody has ruled on any finding.\n\nStanding is keyed on `findingId` for rows that carry one and on `targetId` for rows that do not, and the two are SEPARATE — a ruling on a finding never supersedes a ruling on a target. So a set holding both kinds can return two rows for one target, which is correct rather than a duplicate.","operationId":"getDispositions","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"history","in":"query","description":"Return every ruling rather than the standing one per finding.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"One row per finding by default, or the full append-only sequence with `?history=true`.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DispositionResponse"}}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}},"post":{"tags":["Annotation Sets"],"summary":"Rule on one finding inside an annotation set","description":"`disposition` is one of `accepted`, `dismissed`, `needs_more_info` — the curation store's own per-finding vocabulary, adopted here rather than re-spelled. There is no `pending`: a finding nobody has ruled on has no row, so absence is the state.\n\n🛑 `reason` is REQUIRED for `needs_more_info` and optional for the other two. That value's entire content is the reason — `accepted` and `dismissed` are self-describing, but \"a human looked and stopped\" without the blocker cannot be told apart from nobody having looked. Free text; there is no vocabulary for it. The producing side enforces the same rule, so a ruling without one is a row it would refuse to construct.\n\n🛑 Not `/triage`, which rules on the whole set. A curator routinely accepts one finding and rejects another on the same target, and one set-level verdict cannot carry that outcome.\n\n`targetId` and `findingId` are both the PRODUCER's own strings and both opaque here — the payload is stored as JSON text and never parsed, so an id naming nothing is accepted and only the producer can tell.\n\n🛑 SEND `findingId` WHENEVER YOU HAVE ONE. A target does not name a finding: one target routinely carries several, and two of them can be actionable, so a ruling keyed on the target alone cannot say which finding it ruled on. Standing rulings key on `findingId` where present and `targetId` otherwise, and the two never supersede each other.\n\nRulings are append-only, so this always writes a new row; `GET` returns the standing ruling per finding and `?history=true` the full sequence. `?onBehalfOf=` names the person ruling and is honoured only for `GROUP_AGENT` / `GROUP_ADMIN`. 🛑 An agent MUST send it, naming the person who directed it and never its own account: `decidedBy` names a person.","operationId":"ruleOnFinding","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onBehalfOf","in":"query","description":"The person ruling. Required from an agent; agents and admins only.","schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DispositionRequest"}}}},"responses":{"201":{"description":"The ruling was recorded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DispositionResponse"}}}},"400":{"description":"`targetId` or `disposition` is missing, `disposition` names no value, `needs_more_info` came without a `reason`, or an agent sent no `onBehalfOf` or named its own account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"The set is finalized and is not taking rulings; reopen it first.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}},"delete":{"tags":["Annotation Sets"],"summary":"Erase every ruling on an annotation set's findings","description":"🛑 A DO-OVER AFTER A FAULT, not a curator changing their mind. Rulings are append-only everywhere else on this route: a curator who reconsiders POSTs again and both rows survive, which is what makes the history readable. This deletes, so it is admin-only and is for the case where the rulings record a MISTAKE rather than a decision — a calibration package rebuilt underneath them, or a wire-schema bug that made them meaningless. Superseding those one at a time would preserve exactly the noise the caller is trying to be rid of.\n\n🛑 It does NOT undo design edits a curator made in response to those rulings. Those live in the draft; discarding the draft is a separate act, and skipping it leaves a dataset carrying changes whose justification has just been erased.\n\nReports `deleted`, the number of rows that went. Deleting nothing is a 200 with `deleted: 0`, not a 404 — a set nobody has ruled on is already in the state this asks for.","operationId":"clearDispositions","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The rulings were erased.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClearDispositionsResponse"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotation-sets/{id}":{"get":{"tags":["Annotation Sets"],"summary":"Fetch a single annotation set (full payload)","operationId":"getAnnotationSet","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The annotation set, full payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationSetResponse"}}}}}},"delete":{"tags":["Annotation Sets"],"summary":"Delete an annotation set by id","operationId":"deleteAnnotationSet","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Annotation set deleted."},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}},"patch":{"tags":["Annotation Sets"],"summary":"Correct the run-provenance envelope on an annotation set","description":"Fixes a mis-stamped `agentVersion` / `model` / `agentName` / `runSha` / `ranAt` in place. Without it the only correction is delete-and-recreate, which mints a new id, and set ids are quoted across handoffs.\n\nEnvelope only. The set's content (`payloadJson`, `parkedElements`), its identity (`role`, `source`, `runId`, `investigation`, `parent`) and its finalized status are not reachable here.\n\nPer field: omit it to leave the stored value alone, send a blank string to clear it. `ranAt` has no blank form, so it can be corrected but not cleared.","operationId":"updateAnnotationSetProvenance","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvenanceRequest"}}}},"responses":{"200":{"description":"The envelope was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSetResponse"}}}},"400":{"description":"The body names no envelope field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotation-sets/{id}/finalize":{"post":{"tags":["Annotation Sets"],"summary":"Mark an annotation set finalized (done editing / polished)","description":"`?onBehalfOf=` records the finalizing curator when the call is relayed by an agent, so `finalizedBy` names the person who decided rather than the software that transmitted it. Honoured only for `GROUP_AGENT` / `GROUP_ADMIN`.\n\nThe body is optional and carries one field, `note` — the curator's closing sentence, echoed back as `finalizedNotes`. Trimmed, and cut to 2048 characters rather than refused.\n\n🛑 The note is the one part of this that is not idempotent. A second call on an already-finalized set leaves `finalizedAt` / `finalizedBy` alone — re-stamping them would rewrite when the decision was made — but a non-blank `note` IS recorded, because answering 200 to a dropped sentence is indistinguishable from storing it. Reopening clears the note: it explains one closure and carrying it forward would attach those words to the next.","operationId":"finalizeAnnotationSet","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onBehalfOf","in":"query","description":"Who is finalizing. Agents and admins only.","schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizeRequest"}}}},"responses":{"200":{"description":"The set is finalized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSetResponse"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/candidates":{"get":{"tags":["Annotation Sets"],"summary":"Screening queue (alias of /datasets?filter=curationDetails.needsAttention=true)","description":"Redirects to /datasets with `curationDetails.needsAttention = true` applied.","operationId":"getCandidates","responses":{"302":{"description":"Redirection to /datasets with the needs-attention filter applied."}}}},"/annotation-sets/{id}/triage":{"get":{"tags":["Annotation Sets"],"summary":"Read the triage rulings on an annotation set","description":"Most recent first, so the head of the list is the effective verdict. An empty list means nobody has ruled.","operationId":"getTriage","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The rulings, most recent first. Empty when nobody has ruled.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TriageResponse"}}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}},"delete":{"tags":["Annotation Sets"],"summary":"Withdraw a triage ruling","operationId":"withdrawTriage","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onBehalfOf","in":"query","description":"Whose ruling to withdraw. Agents and admins only.","schema":{"type":"string","nullable":true}}],"responses":{"204":{"description":"Withdrawn, or there was nothing to withdraw."},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}},"patch":{"tags":["Annotation Sets"],"summary":"Rule on how much an annotation set matters","description":"`triage` is one of `fine`, `wont_fix`, `might_fix`, `must_fix`. There is no `pending` -- a set nobody has ruled on simply has no triage row, so absence is the state.\n\nOne standing ruling per judge; several judges coexist, and the effective verdict is the most recent. `?onBehalfOf=` records the ruling curator when the call is relayed by an agent, and is honoured only for `GROUP_AGENT` / `GROUP_ADMIN`.\n\n🛑 Not the per-finding audit disposition (`accepted` / `dismissed` / ...), which answers whether a curator agrees with one finding. This answers how much the whole set matters, and a finding can be dismissed inside a set ruled `must_fix`.","operationId":"triageAnnotationSet","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onBehalfOf","in":"query","description":"Who is ruling. Agents and admins only.","schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriageRequest"}}}},"responses":{"200":{"description":"The ruling was recorded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriageResponse"}}}},"400":{"description":"`triage` is missing or names no verdict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotation-sets":{"get":{"tags":["Annotation Sets"],"summary":"Cross-experiment list of annotation sets (thin projection)","description":"Always the thin projection — there is no `shape` parameter here and no way to ask for `payloadJson`. Rows carry `payloadSize`, plus `factorCount` / `tagCount` so a list card can show what a proposal contains without fetching it, and `datasetShortName` so a row can name its experiment. Fetch one whole set with `GET /annotation-sets/{id}`.\n\n🛑 `role` AND `kind` ARE INDEPENDENT AXES, and `role=proposal` does not mean \"a proposal\". Audit runs also file their output with `role=proposal`, and on the corpus as it stands 6 of the 8 such rows are `kind=audit` (cab, 2026-09-04). A queue that filters `role` alone therefore lists another programme's findings as proposals — pass `kind=proposal` as well.\n\n`?sort=` takes `createdAt` (default), `ranAt` or `id`, prefixed `-` for descending (the default) or `+` for ascending. 🛑 `ranAt` is when the agent RUN happened and `createdAt` is when the row was stored; a queue wants the former, and sets no run produced have no `ranAt` and sort last under `-ranAt`.","operationId":"listAnnotationSetsAcross","parameters":[{"name":"role","in":"query","description":"Filter by role: `proposal`, `draft`, `snapshot`, `commit`, or `all` (default).","schema":{"type":"string","nullable":true}},{"name":"source","in":"query","description":"Filter by source: `agent`, `curator`, `gemma_intake`, `external_import`, or `all` (default).","schema":{"type":"string","nullable":true}},{"name":"createdBy","in":"query","description":"Filter by createdBy (username or agent run identifier).","schema":{"type":"string","nullable":true}},{"name":"kind","in":"query","description":"Filter by kind: `proposal`, `audit`, or `all` (default). 🛑 NOT the same axis as `role` — see the endpoint description.","schema":{"type":"string","nullable":true}},{"name":"status","in":"query","description":"Filter by review status, e.g. `pending`, `needs_changes`, `accepted`, `rejected`. Matched literally; any value the field can hold can be filtered on.","schema":{"type":"string","nullable":true}},{"name":"datasetIds","in":"query","description":"Restrict to a comma-separated list of dataset (investigation) ids.","schema":{"type":"string","nullable":true}},{"name":"offset","in":"query","description":"How many results to skip before the page begins. Mutually exclusive with `cursor`.","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","description":"Order by `createdAt` (default), `ranAt` or `id`; `-` descending (default), `+` ascending.","schema":{"type":"string","default":"-createdAt"}}],"responses":{"200":{"description":"The matching annotation sets as thin summary rows, paginated. The full payload is at `GET /annotation-sets/{id}`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectAnnotationSetSummaryResponse"}}}}}}},"/annotation-sets/{id}/reopen":{"post":{"tags":["Annotation Sets"],"summary":"Clear finalized status on an annotation set","operationId":"reopenAnnotationSet","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The finalized status was cleared.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSetResponse"}}}}}}},"/annotation-sets/{id}/status":{"patch":{"tags":["Annotation Sets"],"summary":"Set a proposal's review status","description":"The values in use are `pending`, `needs_changes`, `accepted` and `rejected` — the curation store's own four, adopted rather than re-spelled.\n\n🛑 THOSE ARE THE VALUES IN USE, NOT THE VALUES PERMITTED. The field is a free string on purpose (Paul, 2026-09-04: \"don't lock us into any kind of enums. if we settle down on this we might formalize it\"), so a value outside that list is STORED AND RETURNED rather than rejected. The gate here is structural only — a status must be non-blank and must fit the column — and never a vocabulary check. A client must not switch exhaustively on the value it reads back.\n\nStored lowercase, which is the spelling every curation vocabulary uses on the wire, so a caller never has to case-fold to compare.\n\n🛑 Not `/triage`, which records one judge's `fine|wont_fix|might_fix|must_fix` on how much a set matters, and not the per-finding `/dispositions`. This answers what happened to the proposal as a whole.","operationId":"setAnnotationSetStatus","parameters":[{"name":"id","in":"path","description":"Identifier of the annotation set.","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusRequest"}}}},"responses":{"200":{"description":"The status was recorded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSetResponse"}}}},"400":{"description":"`status` is missing, blank, or too long.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/datasets/{dataset}/annotations":{"put":{"tags":["Annotations"],"summary":"Bulk-replace a dataset's annotations (diff-then-apply)","description":"Computes the diff between the desired tag set and the dataset's current tag set, then applies adds and removes per-row in a single transaction. Emits one TagAddedEvent per add and one TagRemovedEvent per remove (NOT a single summary event). Idempotent: re-PUTing the same set yields an empty diff and no events. Stays on this path rather than moving to PUT /datasets/{id}/annotations, which is a different operation on the same resource — set-replace under ACL_SECURABLE_EDIT emitting a single aggregate ManualAnnotationEvent. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"replaceDatasetAnnotations","parameters":[{"name":"dataset","in":"path","description":"Dataset identifier: either the ExpressionExperiment id or its short name (e.g. GSE1234). Resolving by id is faster.","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"onBehalfOf","in":"query","description":"The curator this write is being carried FOR, when an agent is carrying it. The authenticated credential stays the performer on the audit row; this names the person in charge. Agents and admins only — anyone else naming someone else is a 403.","schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationsReplaceRequest"}}}},"responses":{"200":{"description":"What the diff-then-apply actually changed: the annotations added, removed and left alone.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationReplaceReport"}}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks curator privileges.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]},"post":{"tags":["Annotations"],"summary":"Add a single annotation tag to a dataset (legacy path)","description":"Legacy alias of `POST /datasets/{dataset}/annotations`, kept because the curation-agents client already calls this path. New callers should use the canonical one on the datasets resource.\n\nAdds one experiment-level annotation (tag) to the dataset. Emits a TagAddedEvent on the dataset's audit trail. Duplicate tags (same category URI + value URI) are rejected with 409 Conflict. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"addDatasetAnnotation","parameters":[{"name":"dataset","in":"path","description":"Dataset identifier: either the ExpressionExperiment id or its short name (e.g. GSE1234). Resolving by id is faster.","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"annotationSetId","in":"query","description":"Optional id of the AnnotationSet this tag is being applied from; linkage is parked until the source-set → emitted-event audit link lands.","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"onBehalfOf","in":"query","description":"The curator this write is being carried FOR, when an agent is carrying it. The authenticated credential stays the performer on the audit row; this names the person in charge. Agents and admins only — anyone else naming someone else is a 403.","schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationDto"}}}},"responses":{"201":{"description":"The annotation as created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationValueObject"}}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks curator privileges.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"An annotation with the same (category, value) already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true,"security":[{"basicAuth":[]},{"cookieAuth":[]}]}},"/annotations/categories":{"get":{"tags":["Annotations"],"summary":"Retrieve all ontology categories used in Gemma","operationId":"getAnnotationCategories","responses":{"200":{"description":"Every ontology category in use across Gemma's annotations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationCategoryValueObject"}}}}}}},"/annotations/predicates":{"get":{"tags":["Annotations"],"summary":"Retrieve all ontology predicates used in Gemma","operationId":"getAnnotationPredicates","responses":{"200":{"description":"Every ontology predicate in use across Gemma's annotations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListOntologyTermSimpleValueObject"}}}}}}},"/annotations/relations":{"get":{"tags":["Annotations"],"summary":"Retrieve relations between annotation terms, with the basis for each","description":"Answers what Gemma knows about how two annotation terms relate: a genotype and the disease it stands for, a cell line and the tissue it came from, and so on. Every row reports its BASIS -- CURATED (a curator wrote the statement), ONTOLOGY (a loaded ontology asserts it), EXTERNAL (a third-party resource), or CORPUS (attested only by co-occurrence in our own curation). An assertion outranks an attestation, and a CORPUS-only row is reported as uncorroborated. Nothing here is an annotation: these are derived facts, and none of them has been written onto any experiment.\n\n🛑 On a SINGLE-CELL dataset, a `dataset` read drops relations whose SUBJECT is a cell type. There the cell types describe the cells rather than the experiment — Gemma keeps them per subset and in `/datasets/{id}/cellTypeAssignment` — so what they imply is true of a fraction of the cells and not of the study. Bulk is unaffected: a constant cell type there is a real experiment-level property. `includeCellTypeSubjects=true` returns them, for seeing what the cut removed.","operationId":"getAnnotationRelations","parameters":[{"name":"subject","in":"query","description":"Term on the subject side, as a URI or a plain value.","schema":{"type":"string","nullable":true}},{"name":"object","in":"query","description":"Term on the object side, as a URI or a plain value.","schema":{"type":"string","nullable":true}},{"name":"predicate","in":"query","description":"Restrict to these predicate URIs; omit for any.","schema":{"type":"string","nullable":true}},{"name":"subjectCategory","in":"query","description":"Restrict the subject side to these category URIs, e.g. EFO_0000408 (disease) or TGEMO_00101 (disease model). Useful with 'dataset', where the seed is every annotation the dataset carries and structural terms -- roles, doses, units -- are terms like any other.","schema":{"type":"string","nullable":true}},{"name":"objectCategory","in":"query","description":"Restrict the object side to these category URIs. Note that a curated statement has ONE category and it belongs to the subject, so object categories are populated only for relations produced from an ontology.","schema":{"type":"string","nullable":true}},{"name":"basis","in":"query","description":"Restrict to these bases: CURATED, ONTOLOGY, EXTERNAL, CORPUS.","schema":{"type":"string","nullable":true}},{"name":"dataset","in":"query","description":"Seed from every annotation a dataset carries, by dataset id, instead of naming a term. This is the experiment-page question: what do this dataset's own annotations stand for? The dataset is held out of its own evidence automatically. Narrower than a 'subject'/'object' lookup in two ways, because it asks what the dataset's terms IMPLY rather than what relates to them: only relations whose implying end the dataset supplies are returned -- a cell line implies the organ it came from and an organ implies no cell line -- and a conclusion the dataset already carries is dropped, since restating an existing annotation is not an inference. A relation that implies nothing either way is returned by neither rule, so pairing this with includeExperimentLevel yields nothing.","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"seedDirection","in":"query","description":"Which side a 'dataset' seed is matched on: SUBJECT_TO_OBJECT reads the dataset's terms as subjects, OBJECT_TO_SUBJECT as objects. A curated statement puts the disease in the subject and the gene in the object, so a dataset carrying a genotype wants OBJECT_TO_SUBJECT.","schema":{"type":"string","default":"OBJECT_TO_SUBJECT"}},{"name":"taxonId","in":"query","description":"Restrict to a taxon by id. Relations with no taxon answer for every taxon.","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"excludeDatasets","in":"query","description":"Hold these dataset ids out of the evidence. Pass the dataset being examined so it is not shown its own annotation as support for itself.","schema":{"type":"string","nullable":true}},{"name":"minSupport","in":"query","description":"Minimum number of attesting experiments; ignored for asserted bases.","schema":{"type":"integer","format":"int32","default":0}},{"name":"minSpecificity","in":"query","description":"Minimum specificity in [0,1]; ignored for asserted bases. Off by default -- no threshold has been tuned against curator judgement yet.","schema":{"type":"number","format":"double","default":0}},{"name":"includeExperimentLevel","in":"query","description":"Include per-experiment parameters (dose, duration, developmental stage, a sample's sex) alongside relations that say what the term is. Off by default: the bookkeeping is roughly four rows in five and none of it is what a reader of a term wants. Nothing is dropped from the store -- this is a read-time filter.","schema":{"type":"boolean","default":false}},{"name":"maxObjectBreadth","in":"query","description":"Drop relations whose object relates to more than this many distinct subjects. An object shared by hundreds of subjects identifies none of them: measured on the corpus, 'Homozygous negative' relates to 2,898, 'Overexpression' to 1,839, '24 h' to 448 and 'induced pluripotent stem cell line cell' to 81, while MPTP and 5xFAD sit in the low single digits. Not a quality judgement -- a dose is a good statement and a very broad object. 0 (the default) does not filter.","schema":{"type":"integer","format":"int32","default":0}},{"name":"maxSubjectBreadth","in":"query","description":"Drop relations whose subject relates to more than this many distinct objects UNDER THE SAME PREDICATE. The other end of maxObjectBreadth, and it catches a different shape: a subject enumerating a list rather than saying something about itself. Measured on the forward walk of 'dataset' across 36 datasets, 214 of 303 rows were ChEBI's 'has role' closure -- dimethyl sulfoxide carries 8 roles, biotin 15 -- and a bar of 3 leaves 9 of those 214 while keeping every row of every other predicate present. Defaults to 3 for a 'dataset' read and to off for a 'subject'/'object' read; pass 0 to turn it off explicitly.","schema":{"type":"integer","format":"int32","default":-1}},{"name":"includeRefuted","in":"query","description":"Also return relations a source states do NOT hold, alongside the asserted ones. Off by default, and deliberately absent from /relations/implies: a refuted row must never reach a caller asking what a term entails. Distinguish them by `status` -- REFUTED rather than ASSERTED -- because the predicate is stored assertively and carries no negation of its own. Today only MGI writes them, from its not-disease report.","schema":{"type":"boolean","default":false}},{"name":"includeCellTypeSubjects","in":"query","description":"Keep relations whose SUBJECT is a cell type on a single-cell dataset, which a `dataset` read drops by default. For seeing what the cut removed: a suppression that leaves no trace is indistinguishable from a term the experiment never carried, so the terms have to be reachable by someone asking why one is missing. No effect on a bulk dataset or a term-seeded read, neither of which is cut.","schema":{"type":"boolean","default":false}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"The relations between the given terms, each with the basis on which it was inferred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationRelationValueObject"}}}}}}},"/annotations/term":{"get":{"tags":["Annotations"],"summary":"Retrieve an ontology term by its URI","description":"For a term the ontology has deprecated (`obsolete: true`), the response also carries where to go next: `termReplacedBy` (the successor's full IRI, `IAO:0100001`) with `termReplacedByLabel`, the weaker `consider` candidates, and `obsoletedInVersion`. These are absent/empty for live terms. A gene value URI (`http://purl.org/commons/record/ncbi_gene/<id>`) is answered too, grounded the same way the curation write-side gate does: Gemma's own gene table first, NCBI itself for ids Gemma does not carry. A withdrawn NCBI record still resolves as `obsolete: true`; `termReplacedBy`/`consider`/`ontologyVersion`/`parents`/`synonyms` are not applicable to a gene and are always absent or empty.","operationId":"getAnnotationTerm","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"includeCitationXrefs","in":"query","description":"Include literature citations (pubmed, doi, …) among the cross-references. Off by default: they are provenance for the definition rather than records about the term, and on a CHEBI compound they outnumber the resolvable identifiers 51 to 12. citationXrefCount always reports how many there are either way.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"The term. For one the ontology has deprecated, `termReplacedBy` and `consider` say where to go instead; both are absent or empty for a live term.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectOntologyTermValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology lookup timed out.","headers":{"Retry-After":{"description":"How long to wait before retrying this request. Sent in either form RFC 9110 permits — a delay in seconds (`5`) or an HTTP-date (`Wed, 18 Sep 2026 21:04:11 GMT`) — so parse both.","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/children":{"get":{"tags":["Annotations"],"summary":"Retrieve the children of the given annotations","description":"Terms that are returned satisfies the [inverse of rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [has_part](http://purl.obolibrary.org/obo/BFO_0000051) relations. When `direct` is set to false, this rule is applied recursively. Each returned term carries `viaSubClassOf`, saying which of the two reached it: `true` for a plain subclass descendant, `false` for one reachable only across the non-taxonomic relations.","operationId":"getAnnotationsChildren","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct parents.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"The child terms. Each carries `viaSubClassOf`, saying whether it was reached as a plain subclass or only across a non-taxonomic relation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","headers":{"Retry-After":{"description":"How long to wait before retrying this request. Sent in either form RFC 9110 permits — a delay in seconds (`5`) or an HTTP-date (`Wed, 18 Sep 2026 21:04:11 GMT`) — so parse both.","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/parents":{"get":{"tags":["Annotations"],"summary":"Retrieve the parents of the given annotations","description":"Terms that are returned satisfies the [rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [part_of](http://purl.obolibrary.org/obo/BFO_0000050) relations. When `direct` is set to false, this rule is applied recursively. Each returned term carries `viaSubClassOf`, saying which of the two reached it: `true` for a plain subClassOf ancestor, `false` for one reachable only across `part_of` (or, on CHEBI, `has_role`). On a CHEBI term that is the structure/role split — vancomycin's `glycopeptide` is `true`, its `antibacterial drug` is `false`.","operationId":"getAnnotationsParents","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct children.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"The parent terms. Each carries `viaSubClassOf`, saying whether it was reached as a plain superclass or only across a non-taxonomic relation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","headers":{"Retry-After":{"description":"How long to wait before retrying this request. Sent in either form RFC 9110 permits — a delay in seconds (`5`) or an HTTP-date (`Wed, 18 Sep 2026 21:04:11 GMT`) — so parse both.","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/canonicalUris":{"get":{"tags":["Annotations"],"summary":"List the term URIs Gemma resolves to a different URI","description":"Gemma stores some annotations under a URI it does not report: a malformed identifier (a bare CURIE, an OBO IRI punctuated with a colon, an id concatenated with itself), or one of two live Cell Line Ontology classes describing a single cell line. Reads are resolved through this table, so `/datasets/{id}/annotations` already returns the canonical term; this endpoint exposes the table itself for clients that resolve terms before asking Gemma — a local synonym table cannot be corrected by a server-side change.\n\n**Scope.** Groups are anchored on the ontology, not on this corpus, so a twin the corpus has never used still gets an answer — which matters because a client-side synonym table mints exactly those. 49 of the rows here migrate nothing and exist only for callers like you. It is NOT a complete duplicate list for any ontology: CLO has 262 label-collision groups and the rules decide 63 of them. An absent URI means *no mapping is known*, never *this URI is correct*.\n\n**Check `basis` before you trust a row.** `R3`/`R4` are ontology-intrinsic (an external cross-reference, or a definition one twin has and the other lacks). `R5` means the only thing separating the twins was corpus usage, which is our evidence and not a property of the ontology.\n\n**Provisional.** These rows stand in for a database migration that is written and not yet applied; when it runs this list becomes empty, and an empty list is the finished state, not a failure.","operationId":"getCanonicalUris","parameters":[{"name":"uri","in":"query","description":"Only return the mapping for this URI, if one exists.","schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"The term URIs Gemma rewrites, each with the URI it is rewritten to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCanonicalUriValueObject"}}}}}}},"/annotations/relations/implies":{"get":{"tags":["Annotations"],"summary":"Test whether terms are already implied by other terms","description":"Set membership over the relations Gemma knows, for deciding whether an annotation would be redundant. Give the terms an experiment already carries in 'from' and the terms you are considering writing in 'to'; the response names the pairs that are related and on what basis. Omit 'to' to get everything the 'from' terms imply. Ambiguity is preserved rather than resolved: every candidate is returned, because a membership test is right whichever one is meant.","operationId":"getImpliedAnnotations","parameters":[{"name":"from","in":"query","description":"Comma-separated term URIs the experiment already carries.","required":true,"schema":{"type":"string","nullable":true}},{"name":"to","in":"query","description":"Comma-separated candidate term URIs to test. Omit to return everything implied.","schema":{"type":"string","nullable":true}},{"name":"excludeDatasets","in":"query","description":"Comma-separated dataset ids to hold out of the evidence. 🛑 Pass the dataset being curated. The curation pipeline is gold-blind -- it never sees the experiment's own curation -- so a gate that counted the experiment's own annotations as evidence would be reading the very thing under evaluation, and would report every redundancy as confirmed.","schema":{"type":"string","nullable":true}},{"name":"basis","in":"query","description":"Restrict to these bases: CURATED, ONTOLOGY, EXTERNAL, CORPUS. A gate that should not act on co-occurrence alone can ask for the asserted bases only.","schema":{"type":"string","nullable":true}},{"name":"taxonId","in":"query","description":"Restrict to a taxon by id.","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"maxObjectBreadth","in":"query","description":"Drop relations whose object relates to more than this many distinct subjects. For a suppression gate this wants to be small -- an object shared by hundreds of diseases implies all of them and cannot say whether one is redundant. 0 (the default) does not filter.","schema":{"type":"integer","format":"int32","default":0}},{"name":"includeExperimentLevel","in":"query","description":"Include per-experiment parameters. Off by default -- a dose or a duration cannot imply an annotation, so a gate has no use for them.","schema":{"type":"boolean","default":false}},{"name":"limit","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"The terms already implied by the others, so a caller can avoid adding a redundant annotation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationRelationValueObject"}}}}}}},"/annotations/datasets/{dataset}/annotations/{annotationId}":{"delete":{"tags":["Annotations"],"summary":"Remove a single annotation tag from a dataset (legacy path)","description":"Legacy alias of `DELETE /datasets/{dataset}/annotations/{annotationId}`, kept because the curation-agents client already calls this path. New callers should use the canonical one on the datasets resource.\n\nRemoves the annotation with the given id from the dataset. Emits a TagRemovedEvent. Returns 404 if no such annotation exists on this dataset. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"removeDatasetAnnotation","parameters":[{"name":"dataset","in":"path","description":"Dataset identifier: either the ExpressionExperiment id or its short name (e.g. GSE1234). Resolving by id is faster.","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"annotationId","in":"path","description":"Identifier of the annotation to remove.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onBehalfOf","in":"query","description":"The curator this write is being carried FOR, when an agent is carrying it. The authenticated cred
[...]
