{"openapi":"3.0.1","info":{"title":"Gemma RESTful API","description":"This website documents the usage of the [Gemma RESTful API](https://gemma.msl.ubc.ca/rest/v2/). Here you can find\nexample script usage of the API, as well as graphical interface for each endpoint, with description of its\nparameters and the endpoint URL.\n\nUse of this webpage and the Gemma Web services, including the REST API, is subject to [these terms and conditions](https://pavlidislab.github.io/Gemma/terms.html).\nPlease read these in full before continuing to use this webpage or any other part of the Gemma system.\n\nYou can [consult the CHANGELOG.md file](https://gemma.msl.ubc.ca/resources/restapidocs/CHANGELOG.md) to view \nrelease notes and recent changes to the Gemma RESTful API.\n","termsOfService":"https://pavlidislab.github.io/Gemma/terms.html","contact":{"name":"Pavlidis Lab Support","url":"https://pavlab.msl.ubc.ca/","email":"pavlab-support@msl.ubc.ca"},"version":"2.9.1"},"servers":[{"url":"https://gemma.msl.ubc.ca/rest/v2"}],"security":[{"basicAuth":[]},{"cookieAuth":[]},{}],"paths":{"/resultSets/count":{"get":{"summary":"Count result sets matching the provided filter","operationId":"getNumberOfResultSets","parameters":[{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectLong"}}}}}}},"/resultSets/{resultSet}":{"get":{"summary":"Retrieve a single analysis result set by its identifier","description":"A slice or results can be retrieved by specifying the `offset` and `limit` parameters. This is only applicable to the JSON representation. The TSV output exposes the following columns: id, probe_id, probe_name, gene_(id|name|ncbi_id|official_symbol|official_name), pvalue, corrected_pvalue, rank, contrast_{fvId}_(coefficient|log2fc|tstat|pvalue). For interaction terms, `{fvId}` is structured as `{id1}_{id2}`. For continuous factors, `{fvId}` is empty and a single `_` delimiter is used.","operationId":"getResultSet","parameters":[{"name":"resultSet","in":"path","required":true,"schema":{"type":"integer","description":"An expression analysis result set numerical identifier.","format":"int32"}},{"name":"threshold","in":"query","schema":{"type":"number","format":"double"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32"}},{"name":"includeFactorValuesInContrasts","in":"query","description":"Include complete factor values in contrasts instead of only populating `factorValueId` and `secondFactorValueId`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}},{"name":"includeTaxonInGenes","in":"query","description":"Include complete taxon in genes instead of only populating `taxonId`. When this is set to true, a `taxa` collection will be included in `DifferentialExpressionAnalysisResultSetValueObject`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"}},"text/tab-separated-values; charset=UTF-8; q=0.9":{"schema":{"type":"string","format":"binary"},"example":"# If you use this file for your research, please cite:\r\n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse.\r\n# Database, baab006 (doi:10.1093/database/baab006).\r\n# Experimental factors: [name: Diet, values: [id: 20959, characteristics: [high fat diet], id: 20960, characteristics: [reference subject role]]]\r\n# Baseline: id: 20959, characteristics: [high fat diet]\r\nid\tprobe_id\tprobe_name\tgene_id\tgene_name\tgene_ncbi_id\tgene_official_symbol\tgene_official_name\tpvalue\tcorrected_pvalue\trank\tcontrast_20960_coefficient\tcontrast_20960_log2fc\tcontrast_20960_tstat\tcontrast_20960_pvalue\r\n107660162\t6379542\tILMN_1256775\t582688\tThrsp\t21835\tThrsp\tthyroid hormone responsive\t7.375E-9\t0.0001\t2.144E-5\t3.1352\t3.1352\t17.6207\t7.375E-9\r\n107678499\t6358971\tILMN_2690657\t813306\tBpifb6\t228796\tBpifb6\tBPI fold containing family B, member 6\t7.832E-9\t0.0001\t4.289E-5\t-1.6286\t-1.6286\t-17.5121\t7.832E-9\r\n107643534\t6363391\tILMN_1222060\t619131\tArhgef5\t54324\tArhgef5\tRho guanine nucleotide exchange factor 5\t1.329E-8\t0.0001\t6.433E-5\t-1.2474\t-1.2474\t-16.5818\t1.329E-8\r\n107647171\t6357370\tILMN_1229667\t702894\tSlc43a1\t72401\tSlc43a1\tsolute carrier family 43, member 1\t2.093E-8\t0.0001\t8.578E-5\t1.0412\t1.0412\t15.8207\t2.093E-8\r\n107665034\t6350196\tILMN_2460179\t797000\tTph2\t216343\tTph2\ttryptophan hydroxylase 2\t3.414E-8\t0.0002\t0.0001\t-3.8165\t-3.8165\t-15.037\t3.414E-8\r\n107671178\t6363608\tILMN_2591159\t695665\tFam13c\t71721\tFam13c\tfamily with sequence similarity 13, member C\t4.385E-8\t0.0002\t0.0001\t-0.5792\t-0.5792\t-14.6504\t4.385E-8\r\n107641223\t6360279\tILMN_1217241\t785630\tKlhl25\t207952\tKlhl25\tkelch-like 25\t5.419E-8\t0.0002\t0.0002\t-0.756\t-0.756\t-14.3302\t5.419E-8\r\n107657532\t6339362\tILMN_1251292\t502225|502237\tEar1|Ear2\t13586|13587\tEar1|Ear2\teosinophil-associated, ribonuclease A family, member 1|eosinophil-associated, ribonuclease A family, member 2\t9.577E-8\t0.0003\t0.0002\t-1.4862\t-1.4862\t-13.5006\t9.577E-8\r\n107680187\t6345095\tILMN_2713898\t486090\tDdr1\t12305\tDdr1\tdiscoidin domain receptor family, member 1\t1.172E-7\t0.0003\t0.0002\t-0.8617\t-0.8617\t-13.2167\t1.172E-7\r\n107684452\t6363087\tILMN_2772273\t724368\tCldn22\t75677\tCldn22\tclaudin 22\t1.634E-7\t0.0004\t0.0002\t0.6557\t0.6557\t12.7622\t1.634E-7\r\n107641691\t6378887\tILMN_1218223\t561628\tPvalb\t19293\tPvalb\tparvalbumin\t1.918E-7\t0.0004\t0.0002\t-1.9261\t-1.9261\t-12.5478\t1.918E-7\r\n107652484\t6371658\tILMN_1240770\t760788\tAcly\t104112\tAcly\tATP citrate lyase\t2.145E-7\t0.0004\t0.0003\t1.8169\t1.8169\t12.4002\t2.145E-7\r\n107684617\t6340514\tILMN_2774161\t523186\tHsd11b1\t15483\tHsd11b1\thydroxysteroid 11-beta dehydrogenase 1\t2.022E-7\t0.0004\t0.0003\t1.4447\t1.4447\t12.4776\t2.022E-7\r\n107654165\t6372412\tILMN_1244211\t\t\t\t\t\t2.463E-7\t0.0005\t0.0003\t1.2247\t1.2247\t12.2193\t2.463E-7\r\n"}}},"404":{"description":"The analysis result set could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/resultSets":{"get":{"summary":"Retrieve all result sets matching the provided criteria","operationId":"getResultSets","parameters":[{"name":"datasets","in":"query","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"databaseEntries","in":"query","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of database entry IDs or accessions. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A database entry numerical identifier.","format":"int64"},{"type":"string","description":"A database entry name."}]}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionAnalysisResultSet"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilteredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"}}}}}}},"/annotations/children":{"get":{"summary":"Retrieve the children of the given annotations","description":"Terms that are returned satisfies the [inverse of rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [has_part](http://purl.obolibrary.org/obo/BFO_0000051) relations. When `direct` is set to false, this rule is applied recursively.","operationId":"getAnnotationsChildren","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct parents.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/parents":{"get":{"summary":"Retrieve the parents of the given annotations","description":"Terms that are returned satisfies the [rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [part_of](http://purl.obolibrary.org/obo/BFO_0000050) relations. When `direct` is set to false, this rule is applied recursively.","operationId":"getAnnotationsParents","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct children.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/search":{"get":{"summary":"Search for annotation tags","operationId":"searchAnnotations","parameters":[{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/search/{query}":{"get":{"summary":"Search for annotation tags","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchAnnotationsByPathQuery","parameters":[{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/search/datasets":{"get":{"summary":"Retrieve datasets associated to an annotation tags search","description":"This is deprecated in favour of the [/datasets](#/default/getDatasets) endpoint. Use the `AND` operator to intersect the results of multiple queries.","operationId":"searchDatasets","parameters":[{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/search/{query}/datasets":{"get":{"summary":"Retrieve datasets associated to an annotation tags search","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchDatasetsByQueryInPath","parameters":[{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/{taxon}/search/datasets":{"get":{"summary":"Retrieve datasets within a given taxa associated to an annotation tags search","description":"This is deprecated in favour of the [/datasets](#/default/getDatasets) endpoint with a `query` parameter and a `filter` parameter with `taxon.id = {taxon} or taxon.commonName = {taxon} or taxon.scientificName = {taxon}` to restrict the taxon instead.  Use the `AND` operator to intersect the results of multiple queries.","operationId":"searchTaxonDatasets","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/{taxon}/search/{query}/datasets":{"get":{"summary":"Retrieve datasets within a given taxa associated to an annotation tags search","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchTaxonDatasetsByQueryInPath","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/datasets/{dataset}/publications":{"get":{"summary":"Retrieve all publications associated with a dataset","operationId":"getDatasetAllPublications","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListBibliographicReferenceValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/annotations":{"get":{"summary":"Retrieve the annotations of a dataset","operationId":"getDatasetAnnotations","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSetAnnotationValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/cellLevelCharacteristics":{"get":{"summary":"Retrieve all other cell-level characteristics of a single-cell dataset","operationId":"getDatasetCellLevelCharacteristics","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCellLevelCharacteristicsValueObject"}},"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"object"},"example":"sample_id\tcell_id\tcategory\tcategory_uri\tcategory_id\tvalue\tvalue_uri\r\n"}}}}}},"/datasets/{dataset}/cellTypeAssignment":{"get":{"summary":"Retrieve a cell-type assignment of a single-cell dataset","operationId":"getDatasetCellTypeAssignment","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}},{"name":"cellTypeAssignment","in":"query","description":"The name of the cell type assignment to retrieve. If left unset, this the preferred one is returned.","schema":{"type":"string"}},{"name":"protocol","in":"query","description":"The protocol of the cell type assignment to retrieve. This cannot be used in combination with `cellTypeAssignment`.","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectCellTypeAssignmentValueObject"}},"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"object"},"example":"sample_id\tcell_id\tcell_type\tcell_type_uri\r\nH48-g2 , Entorhinal cortex\tAAACCCAAGGTCCAGA-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACCCACAGATAAAC-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACCCAGTCCTTAAG-2_1\tOPCs\t\r\nH48-g2 , Entorhinal cortex\tAAACGAAAGCCTCAAT-2_1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAACAGCGTGAA-2_1\tAstrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAATCCATAGAC-2_1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAATCTCCCTAG-2_1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTAGGCCCAAA-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTAGGTATAGT-2_1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTCAACATACC-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTCAGCTTTCC-2_1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTGTGGTCCCA-2_1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTTCGACACTA-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTTCGGAATGG-2_1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAAGAACCAAGCGAAC-2_1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAAGAACGTTCTAACG-2_1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATAGAAGGATG-2_1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATGTTCCCAAA-2_1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATGTTCGGTAT-2_1\tExcitatory Neurons\t\r\n"}}},"404":{"description":"If the dataset, quantitation type or cell type assignment does not exist, or if a preferred cell type assignment is requested but none is available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/design":{"get":{"summary":"Retrieve the design of a dataset","operationId":"getDatasetDesign","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"content":{"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string","format":"binary"},"example":"# Expression design file generated by Gemma on 12/14/2023\n# shortName=GSE2018\n# name=Human Lung Transplant - BAL\n# Experiment details: https://gemma.msl.ubc.ca/expressionExperiment/showExpressionExperiment.html?id=1\n# If you use this file for your research, please cite: \n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse. \n# Database, baab006 (doi:10.1093/database/baab006). \n#$batch : Category=block Type=Categorical\n#$diseaseState : Category=disease Type=Categorical\nBioassay\tExternalID\tbatch\tdiseaseState\nGSE2018_bioMaterial_34.GSM36456___BioAssayId=1Name=BAL_47c_A0B1\tGSM36456\tBatch_06_02_07_24\treference_subject_role\nGSE2018_bioMaterial_33.GSM36455___BioAssayId=2Name=BAL_47b_A0B1\tGSM36455\tBatch_07_02_10_03\treference_subject_role\nGSE2018_bioMaterial_32.GSM36454___BioAssayId=3Name=BAL_47a_A0B0\tGSM36454\tBatch_08_02_10_15\treference_subject_role\nGSE2018_bioMaterial_31.GSM36453___BioAssayId=4Name=BAL_46_A2B0\tGSM36453\tBatch_01_02_01_31\tdisease_related_to_solid_organ_transplantation_|_lung_|\nGSE2018_bioMaterial_30.GSM36452___BioAssayId=5Name=BAL_45b_A2B0\tGSM36452\tBatch_03_02_05_22\tdisease_related_to_solid_organ_transplantation_|_lung_|\nGSE2018_bioMaterial_29.GSM36451___BioAssayId=6Name=BAL_45a_A1B0\tGSM36451\tBatch_06_02_07_24\treference_subject_role\nGSE2018_bioMaterial_28.GSM36450___BioAssayId=7Name=BAL_44b_A0B0\tGSM36450\tBatch_02_02_04_03\treference_subject_role\nGSE2018_bioMaterial_27.GSM36449___BioAssayId=8Name=BAL_44a_A0B0\tGSM36449\tBatch_08_02_10_15\treference_subject_role\nGSE2018_bioMaterial_26.GSM36448___BioAssayId=9Name=BAL_43_A0B0\tGSM36448\tBatch_09_02_10_25\treference_subject_role\nGSE2018_bioMaterial_25.GSM36447___BioAssayId=10Name=BAL_42_A0B0\tGSM36447\tBatch_11_02_11_27\treference_subject_role\n"}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/analyses/differential":{"get":{"summary":"Retrieve annotations and surface level stats for a dataset's differential analyses","operationId":"getDatasetDifferentialExpressionAnalyses","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListDifferentialExpressionAnalysisValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/analyses/differential/resultSets":{"get":{"summary":"Retrieve the result sets of all differential analyses of a dataset","operationId":"getDatasetDifferentialExpressionAnalysisResultSets","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"302":{"description":"If the dataset is found, a redirection to the corresponding getResultSets operation."},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/data":{"get":{"summary":"Retrieve processed expression data of a dataset","description":"This endpoint is deprecated and getDatasetProcessedExpression() should be used instead. The following columns are available: Probe, Sequence, GeneSymbol, GeneName, GemmaId, NCBIid followed by one column per sample. GeneSymbol, GeneName, GemmaId and NCBIid are optional.","operationId":"getDatasetExpression","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"filter","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string","format":"binary"},"example":"# Expression data file generated by Gemma on 10/29/2024\n# shortName=GSE2018\n# name=Human Lung Transplant - BAL\n# Experiment details: https://gemma.msl.ubc.ca/expressionExperiment/showExpressionExperiment.html?id=1\n# If you use this file for your research, please cite: \n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse. \n# Database, baab006 (doi:10.1093/database/baab006). \nProbe\tSequence\tGeneSymbol\tGeneName\tGemmaId\tNCBIid\tGSE2018_bioMaterial_34.GSM36456___BioAssayId=1Name=BAL_47c_A0B1\tGSE2018_bioMaterial_29.GSM36451___BioAssayId=6Name=BAL_45a_A1B0\tGSE2018_bioMaterial_15.GSM36437___BioAssayId=20Name=BAL_27a_A0B0\tGSE2018_bioMaterial_4.GSM36426___BioAssayId=31Name=BAL_1_A0B0\tGSE2018_bioMaterial_2.GSM36424___BioAssayId=33Name=BAL_15a_A0B1\tGSE2018_bioMaterial_32.GSM36454___BioAssayId=3Name=BAL_47a_A0B0\tGSE2018_bioMaterial_27.GSM36449___BioAssayId=8Name=BAL_44a_A0B0\tGSE2018_bioMaterial_21.GSM36443___BioAssayId=14Name=BAL_39_A0B1\tGSE2018_bioMaterial_20.GSM36442___BioAssayId=15Name=BAL_33_A0B1\tGSE2018_bioMaterial_26.GSM36448___BioAssayId=9Name=BAL_43_A0B0\tGSE2018_bioMaterial_6.GSM36428___BioAssayId=29Name=BAL_13_A0B0\tGSE2018_bioMaterial_33.GSM36455___BioAssayId=2Name=BAL_47b_A0B1\tGSE2018_bioMaterial_17.GSM36439___BioAssayId=18Name=BAL_29_A1B0\tGSE2018_bioMaterial_13.GSM36435___BioAssayId=22Name=BAL_25_A0B0\tGSE2018_bioMaterial_23.GSM36445___BioAssayId=12Name=BAL_40_A0B0\tGSE2018_bioMaterial_28.GSM36450___BioAssayId=7Name=BAL_44b_A0B0\tGSE2018_bioMaterial_24.GSM36446___BioAssayId=11Name=BAL_41_A1B0\tGSE2018_bioMaterial_19.GSM36441___BioAssayId=16Name=BAL_31_A0B1\tGSE2018_bioMaterial_25.GSM36447___BioAssayId=10Name=BAL_42_A0B0\tGSE2018_bioMaterial_22.GSM36444___BioAssayId=13Name=BAL_4_A0B0\tGSE2018_bioMaterial_18.GSM36440___BioAssayId=17Name=BAL_3_A1B0\tGSE2018_bioMaterial_8.GSM36430___BioAssayId=27Name=BAL_18_A1B0\tGSE2018_bioMaterial_7.GSM36429___BioAssayId=28Name=BAL_17_A0B0\tGSE2018_bioMaterial_5.GSM36427___BioAssayId=30Name=BAL_12_A1B0\tGSE2018_bioMaterial_3.GSM36425___BioAssayId=32Name=BAL_15b_A0B0\tGSE2018_bioMaterial_12.GSM36434___BioAssayId=23Name=BAL_21_A0B0\tGSE2018_bioMaterial_9.GSM36431___BioAssayId=26Name=BAL_19_A0B0\tGSE2018_bioMaterial_10.GSM36432___BioAssayId=25Name=BAL_20a_A1B1\tGSE2018_bioMaterial_11.GSM36433___BioAssayId=24Name=BAL_20b_A1B1\tGSE2018_bioMaterial_1.GSM36423___BioAssayId=34Name=BAL_37_A1B1\tGSE2018_bioMaterial_30.GSM36452___BioAssayId=5Name=BAL_45b_A2B0\tGSE2018_bioMaterial_14.GSM36436___BioAssayId=21Name=BAL_26_A2B0\tGSE2018_bioMaterial_31.GSM36453___BioAssayId=4Name=BAL_46_A2B0\tGSE2018_bioMaterial_16.GSM36438___BioAssayId=19Name=BAL_27b_A2B1\n1007_s_at\t1007_s_at_collapsed\tDDR1\tdiscoidin domain receptor tyrosine kinase 1\t16908\t780\t7.6721\t7.4853\t7.8763\t7.4623\t7.5819\t7.757\t7.7166\t7.3643\t7.4844\t7.4546\t7.5897\t7.5602\t7.8408\t7.5234\t7.6959\t7.5389\t7.8389\t7.4757\t7.8968\t7.5597\t7.6154\t7.5057\t7.362\t7.5837\t7.6584\t7.6638\t7.6282\t\t7.6784\t7.6151\t7.7217\t7.3875\t7.7165\t7.5376\n1053_at\t1053_at_collapsed\tRFC2\treplication factor C subunit 2\t139878\t5982\t6.8924\t6.7775\t6.8416\t7.0674\t6.7558\t6.5584\t6.9086\t6.8158\t7.0474\t6.902\t6.8889\t6.8371\t6.5479\t6.9205\t6.7033\t6.8723\t6.5528\t6.9175\t6.6162\t6.9416\t6.8842\t6.7586\t6.9581\t7.0007\t6.7241\t6.7385\t6.808\t\t6.688\t6.7764\t6.6493\t6.9261\t6.6655\t6.8936\n117_at\t117_at_collapsed\tHSPA7|HSPA6\theat shock protein family A (Hsp70) member 7 (pseudogene)|heat shock protein family A (Hsp70) member 6\t73442|73420\t3311|3310\t7.5564\t7.716\t7.7334\t7.8392\t7.5988\t7.8905\t7.6796\t7.4394\t7.649\t7.614\t7.7068\t7.813\t7.8061\t7.4471\t7.4063\t7.609\t8.0923\t7.5906\t8.2502\t7.6235\t7.4748\t7.7618\t7.7964\t7.5155\t8.0925\t7.5918\t7.8906\t\t7.8253\t7.842\t7.9382\t8.0984\t7.9372\t7.7496\n121_at\t121_at_collapsed\tPAX8\tpaired box 8\t173107\t7849\t9.1023\t9.2323\t9.3388\t9.1243\t8.7984\t9.0757\t9.2588\t8.9355\t8.9928\t9.1342\t9.0008\t9.0188\t9.4695\t8.9383\t9.2632\t8.8174\t9.382\t9.1201\t9.0405\t9.2566\t8.9751\t9.2959\t8.8983\t9.1463\t9.0725\t9.1553\t9.1685\t\t9.2515\t9.0833\t9.1434\t8.8144\t9.4814\t8.9047\n1255_g_at\t1255_g_at_collapsed\tGUCA1ANB-GUCA1A|GUCA1A\tGUCA1ANB-GUCA1A readthrough|guanylate cyclase activator 1A\t10402669|58787\t118142757|2978\t3.9816\t4.0628\t4.0015\t4.1629\t3.9986\t3.9452\t4.0291\t4.0417\t4.0483\t3.9937\t4.0622\t4.136\t4.0921\t3.9627\t4.0604\t3.9806\t4.1723\t4.0626\t4.1257\t4.0568\t3.8952\t4.0721\t4.0442\t4.1134\t3.9857\t4.1046\t4.0098\t\t4.0499\t4.0728\t3.9763\t4.0082\t3.9185\t4.0868\n1294_at\t1294_at_collapsed\tUBA7\tubiquitin like modifier activating enzyme 7\t165857\t7318\t8.0634\t7.7508\t7.7976\t8.0921\t8.0174\t8.1656\t7.8646\t7.6888\t7.9781\t7.6962\t8.0412\t7.6834\t8.1576\t7.9031\t8.0123\t7.8788\t8.0191\t8.1302\t8.0091\t7.9073\t8.0516\t7.6454\t7.9631\t7.8502\t8.0124\t7.4931\t7.9133\t\t7.6496\t7.9338\t7.8689\t7.7707\t7.7935\t7.9927\n1316_at\t1316_at_collapsed\tTHRA\tthyroid hormone receptor alpha\t160776\t7067\t5.8697\t5.8707\t5.9474\t5.8711\t5.8871\t5.9525\t5.8688\t5.8748\t5.8318\t5.8107\t5.832\t5.8217\t6.0814\t5.8491\t5.9301\t5.809\t6.0588\t5.9611\t6.0451\t5.832\t5.8675\t5.9447\t5.8611\t5.8935\t5.9666\t6.0884\t5.9402\t\t5.8583\t5.8739\t5.8993\t5.7998\t5.6166\t5.8443\n1320_at\t1320_at_collapsed\tPTPN21\tprotein tyrosine phosphatase non-receptor type 21\t227238\t11099\t5.0297\t4.8054\t4.861\t5.031\t4.9511\t4.9027\t5.2428\t4.915\t4.9608\t4.9277\t4.8071\t4.8301\t4.867\t4.9947\t4.9846\t5.0406\t4.9048\t4.8506\t4.8542\t5.0097\t4.9676\t4.8883\t4.9028\t4.9867\t4.886\t4.9535\t4.9498\t\t4.7029\t4.8417\t4.8511\t4.7326\t4.643\t4.8456\n1405_i_at\t1405_i_at_collapsed\tCCL5\tC-C motif chemokine ligand 5\t147052\t6352\t5.6652\t5.4639\t5.9441\t5.1073\t5.9815\t5.289\t5.8388\t5.1612\t5.2728\t4.9977\t6.8063\t5.6607\t5.7446\t5.2005\t6.0187\t4.9152\t5.9225\t6.1803\t5.4989\t6.6756\t7.0798\t5.0711\t4.8886\t5.6228\t6.9047\t6.324\t6.1059\t\t8.4984\t8.3406\t7.9811\t6.91\t6.7853\t6.6306\n1431_at\t1431_at_collapsed\tCYP2E1\tcytochrome P450 family 2 subfamily E member 1\t33104\t1571\t3.8388\t3.8467\t3.8965\t3.8779\t3.8262\t3.8039\t3.9421\t3.8161\t3.8997\t3.8309\t3.8176\t3.8623\t3.8059\t3.9013\t3.8035\t3.7976\t3.9332\t3.813\t3.86\t3.8494\t3.8293\t3.8349\t3.8547\t3.8433\t3.8946\t3.943\t3.8708\t\t3.8047\t3.8511\t3.8599\t3.8585\t3.8295\t3.7343\n1438_at\t1438_at_collapsed\tEPHB3\tEPH receptor B3\t43254\t2049\t6.8075\t6.5489\t6.6755\t6.63\t6.7115\t6.7421\t7.1292\t6.6164\t6.6223\t6.6747\t6.6011\t6.5757\t6.9155\t6.5807\t6.7176\t6.5973\t6.6678\t6.7832\t6.6713\t6.4502\t6.7765\t6.8397\t6.5161\t6.6269\t6.7348\t6.5554\t6.9036\t\t6.638\t6.6345\t6.6333\t6.4946\t6.7892\t6.3988\n1487_at\t1487_at_collapsed\tESRRA\testrogen related receptor alpha\t44096\t2101\t7.7785\t7.6979\t7.5933\t7.8805\t7.7475\t7.7677\t7.908\t7.5541\t7.6242\t7.5641\t7.6051\t7.5303\t7.8122\t7.6791\t7.7691\t7.7881\t7.5941\t7.7652\t7.7651\t7.5381\t7.8425\t7.5586\t7.6608\t7.6481\t7.7682\t7.7273\t7.7158\t\t7.6116\t7.6369\t7.6163\t7.517\t7.648\t7.6448\n"}}},"204":{"description":"The dataset expression matrix is empty."},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/datasets/{dataset}/platforms":{"get":{"summary":"Retrieve the platforms of a dataset","operationId":"getDatasetPlatforms","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListArrayDesignValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/data/processed":{"get":{"summary":"Retrieve processed expression data of a dataset","description":"The following columns are available: Probe, Sequence, GeneSymbol, GeneName, GemmaId, NCBIid followed by one column per sample. GeneSymbol, GeneName, GemmaId and NCBIid are optional.","operationId":"getDatasetProcessedExpression","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"filter","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string","format":"binary"},"example":"# Expression data file generated by Gemma on 10/29/2024\n# shortName=GSE2018\n# name=Human Lung Transplant - BAL\n# Experiment details: https://gemma.msl.ubc.ca/expressionExperiment/showExpressionExperiment.html?id=1\n# If you use this file for your research, please cite: \n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse. \n# Database, baab006 (doi:10.1093/database/baab006). \nProbe\tSequence\tGeneSymbol\tGeneName\tGemmaId\tNCBIid\tGSE2018_bioMaterial_34.GSM36456___BioAssayId=1Name=BAL_47c_A0B1\tGSE2018_bioMaterial_29.GSM36451___BioAssayId=6Name=BAL_45a_A1B0\tGSE2018_bioMaterial_15.GSM36437___BioAssayId=20Name=BAL_27a_A0B0\tGSE2018_bioMaterial_4.GSM36426___BioAssayId=31Name=BAL_1_A0B0\tGSE2018_bioMaterial_2.GSM36424___BioAssayId=33Name=BAL_15a_A0B1\tGSE2018_bioMaterial_32.GSM36454___BioAssayId=3Name=BAL_47a_A0B0\tGSE2018_bioMaterial_27.GSM36449___BioAssayId=8Name=BAL_44a_A0B0\tGSE2018_bioMaterial_21.GSM36443___BioAssayId=14Name=BAL_39_A0B1\tGSE2018_bioMaterial_20.GSM36442___BioAssayId=15Name=BAL_33_A0B1\tGSE2018_bioMaterial_26.GSM36448___BioAssayId=9Name=BAL_43_A0B0\tGSE2018_bioMaterial_6.GSM36428___BioAssayId=29Name=BAL_13_A0B0\tGSE2018_bioMaterial_33.GSM36455___BioAssayId=2Name=BAL_47b_A0B1\tGSE2018_bioMaterial_17.GSM36439___BioAssayId=18Name=BAL_29_A1B0\tGSE2018_bioMaterial_13.GSM36435___BioAssayId=22Name=BAL_25_A0B0\tGSE2018_bioMaterial_23.GSM36445___BioAssayId=12Name=BAL_40_A0B0\tGSE2018_bioMaterial_28.GSM36450___BioAssayId=7Name=BAL_44b_A0B0\tGSE2018_bioMaterial_24.GSM36446___BioAssayId=11Name=BAL_41_A1B0\tGSE2018_bioMaterial_19.GSM36441___BioAssayId=16Name=BAL_31_A0B1\tGSE2018_bioMaterial_25.GSM36447___BioAssayId=10Name=BAL_42_A0B0\tGSE2018_bioMaterial_22.GSM36444___BioAssayId=13Name=BAL_4_A0B0\tGSE2018_bioMaterial_18.GSM36440___BioAssayId=17Name=BAL_3_A1B0\tGSE2018_bioMaterial_8.GSM36430___BioAssayId=27Name=BAL_18_A1B0\tGSE2018_bioMaterial_7.GSM36429___BioAssayId=28Name=BAL_17_A0B0\tGSE2018_bioMaterial_5.GSM36427___BioAssayId=30Name=BAL_12_A1B0\tGSE2018_bioMaterial_3.GSM36425___BioAssayId=32Name=BAL_15b_A0B0\tGSE2018_bioMaterial_12.GSM36434___BioAssayId=23Name=BAL_21_A0B0\tGSE2018_bioMaterial_9.GSM36431___BioAssayId=26Name=BAL_19_A0B0\tGSE2018_bioMaterial_10.GSM36432___BioAssayId=25Name=BAL_20a_A1B1\tGSE2018_bioMaterial_11.GSM36433___BioAssayId=24Name=BAL_20b_A1B1\tGSE2018_bioMaterial_1.GSM36423___BioAssayId=34Name=BAL_37_A1B1\tGSE2018_bioMaterial_30.GSM36452___BioAssayId=5Name=BAL_45b_A2B0\tGSE2018_bioMaterial_14.GSM36436___BioAssayId=21Name=BAL_26_A2B0\tGSE2018_bioMaterial_31.GSM36453___BioAssayId=4Name=BAL_46_A2B0\tGSE2018_bioMaterial_16.GSM36438___BioAssayId=19Name=BAL_27b_A2B1\n1007_s_at\t1007_s_at_collapsed\tDDR1\tdiscoidin domain receptor tyrosine kinase 1\t16908\t780\t7.6721\t7.4853\t7.8763\t7.4623\t7.5819\t7.757\t7.7166\t7.3643\t7.4844\t7.4546\t7.5897\t7.5602\t7.8408\t7.5234\t7.6959\t7.5389\t7.8389\t7.4757\t7.8968\t7.5597\t7.6154\t7.5057\t7.362\t7.5837\t7.6584\t7.6638\t7.6282\t\t7.6784\t7.6151\t7.7217\t7.3875\t7.7165\t7.5376\n1053_at\t1053_at_collapsed\tRFC2\treplication factor C subunit 2\t139878\t5982\t6.8924\t6.7775\t6.8416\t7.0674\t6.7558\t6.5584\t6.9086\t6.8158\t7.0474\t6.902\t6.8889\t6.8371\t6.5479\t6.9205\t6.7033\t6.8723\t6.5528\t6.9175\t6.6162\t6.9416\t6.8842\t6.7586\t6.9581\t7.0007\t6.7241\t6.7385\t6.808\t\t6.688\t6.7764\t6.6493\t6.9261\t6.6655\t6.8936\n117_at\t117_at_collapsed\tHSPA7|HSPA6\theat shock protein family A (Hsp70) member 7 (pseudogene)|heat shock protein family A (Hsp70) member 6\t73442|73420\t3311|3310\t7.5564\t7.716\t7.7334\t7.8392\t7.5988\t7.8905\t7.6796\t7.4394\t7.649\t7.614\t7.7068\t7.813\t7.8061\t7.4471\t7.4063\t7.609\t8.0923\t7.5906\t8.2502\t7.6235\t7.4748\t7.7618\t7.7964\t7.5155\t8.0925\t7.5918\t7.8906\t\t7.8253\t7.842\t7.9382\t8.0984\t7.9372\t7.7496\n121_at\t121_at_collapsed\tPAX8\tpaired box 8\t173107\t7849\t9.1023\t9.2323\t9.3388\t9.1243\t8.7984\t9.0757\t9.2588\t8.9355\t8.9928\t9.1342\t9.0008\t9.0188\t9.4695\t8.9383\t9.2632\t8.8174\t9.382\t9.1201\t9.0405\t9.2566\t8.9751\t9.2959\t8.8983\t9.1463\t9.0725\t9.1553\t9.1685\t\t9.2515\t9.0833\t9.1434\t8.8144\t9.4814\t8.9047\n1255_g_at\t1255_g_at_collapsed\tGUCA1ANB-GUCA1A|GUCA1A\tGUCA1ANB-GUCA1A readthrough|guanylate cyclase activator 1A\t10402669|58787\t118142757|2978\t3.9816\t4.0628\t4.0015\t4.1629\t3.9986\t3.9452\t4.0291\t4.0417\t4.0483\t3.9937\t4.0622\t4.136\t4.0921\t3.9627\t4.0604\t3.9806\t4.1723\t4.0626\t4.1257\t4.0568\t3.8952\t4.0721\t4.0442\t4.1134\t3.9857\t4.1046\t4.0098\t\t4.0499\t4.0728\t3.9763\t4.0082\t3.9185\t4.0868\n1294_at\t1294_at_collapsed\tUBA7\tubiquitin like modifier activating enzyme 7\t165857\t7318\t8.0634\t7.7508\t7.7976\t8.0921\t8.0174\t8.1656\t7.8646\t7.6888\t7.9781\t7.6962\t8.0412\t7.6834\t8.1576\t7.9031\t8.0123\t7.8788\t8.0191\t8.1302\t8.0091\t7.9073\t8.0516\t7.6454\t7.9631\t7.8502\t8.0124\t7.4931\t7.9133\t\t7.6496\t7.9338\t7.8689\t7.7707\t7.7935\t7.9927\n1316_at\t1316_at_collapsed\tTHRA\tthyroid hormone receptor alpha\t160776\t7067\t5.8697\t5.8707\t5.9474\t5.8711\t5.8871\t5.9525\t5.8688\t5.8748\t5.8318\t5.8107\t5.832\t5.8217\t6.0814\t5.8491\t5.9301\t5.809\t6.0588\t5.9611\t6.0451\t5.832\t5.8675\t5.9447\t5.8611\t5.8935\t5.9666\t6.0884\t5.9402\t\t5.8583\t5.8739\t5.8993\t5.7998\t5.6166\t5.8443\n1320_at\t1320_at_collapsed\tPTPN21\tprotein tyrosine phosphatase non-receptor type 21\t227238\t11099\t5.0297\t4.8054\t4.861\t5.031\t4.9511\t4.9027\t5.2428\t4.915\t4.9608\t4.9277\t4.8071\t4.8301\t4.867\t4.9947\t4.9846\t5.0406\t4.9048\t4.8506\t4.8542\t5.0097\t4.9676\t4.8883\t4.9028\t4.9867\t4.886\t4.9535\t4.9498\t\t4.7029\t4.8417\t4.8511\t4.7326\t4.643\t4.8456\n1405_i_at\t1405_i_at_collapsed\tCCL5\tC-C motif chemokine ligand 5\t147052\t6352\t5.6652\t5.4639\t5.9441\t5.1073\t5.9815\t5.289\t5.8388\t5.1612\t5.2728\t4.9977\t6.8063\t5.6607\t5.7446\t5.2005\t6.0187\t4.9152\t5.9225\t6.1803\t5.4989\t6.6756\t7.0798\t5.0711\t4.8886\t5.6228\t6.9047\t6.324\t6.1059\t\t8.4984\t8.3406\t7.9811\t6.91\t6.7853\t6.6306\n1431_at\t1431_at_collapsed\tCYP2E1\tcytochrome P450 family 2 subfamily E member 1\t33104\t1571\t3.8388\t3.8467\t3.8965\t3.8779\t3.8262\t3.8039\t3.9421\t3.8161\t3.8997\t3.8309\t3.8176\t3.8623\t3.8059\t3.9013\t3.8035\t3.7976\t3.9332\t3.813\t3.86\t3.8494\t3.8293\t3.8349\t3.8547\t3.8433\t3.8946\t3.943\t3.8708\t\t3.8047\t3.8511\t3.8599\t3.8585\t3.8295\t3.7343\n1438_at\t1438_at_collapsed\tEPHB3\tEPH receptor B3\t43254\t2049\t6.8075\t6.5489\t6.6755\t6.63\t6.7115\t6.7421\t7.1292\t6.6164\t6.6223\t6.6747\t6.6011\t6.5757\t6.9155\t6.5807\t6.7176\t6.5973\t6.6678\t6.7832\t6.6713\t6.4502\t6.7765\t6.8397\t6.5161\t6.6269\t6.7348\t6.5554\t6.9036\t\t6.638\t6.6345\t6.6333\t6.4946\t6.7892\t6.3988\n1487_at\t1487_at_collapsed\tESRRA\testrogen related receptor alpha\t44096\t2101\t7.7785\t7.6979\t7.5933\t7.8805\t7.7475\t7.7677\t7.908\t7.5541\t7.6242\t7.5641\t7.6051\t7.5303\t7.8122\t7.6791\t7.7691\t7.7881\t7.5941\t7.7652\t7.7651\t7.5381\t7.8425\t7.5586\t7.6608\t7.6481\t7.7682\t7.7273\t7.7158\t\t7.6116\t7.6369\t7.6163\t7.517\t7.648\t7.6448\n"}}},"204":{"description":"The dataset expression matrix is empty. Only applicable if filter is set to true."},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/quantitationTypes":{"get":{"summary":"Retrieve quantitation types of a dataset","operationId":"getDatasetQuantitationTypes","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSetQuantitationTypeValueObject"}}}}}}},"/datasets/{dataset}/data/raw":{"get":{"summary":"Retrieve raw expression data of a dataset","description":"The following columns are available: Probe, Sequence, GeneSymbol, GeneName, GemmaId, NCBIid followed by one column per sample. GeneSymbol, GeneName, GemmaId and NCBIid are optional.","operationId":"getDatasetRawExpression","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}}],"responses":{"200":{"content":{"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string","format":"binary"},"example":"# Expression data file generated by Gemma on 08/12/2024\n# shortName=GSE2018\n# name=Human Lung Transplant - BAL\n# Experiment details: https://gemma.msl.ubc.ca/expressionExperiment/showExpressionExperiment.html?id=1\n# If you use this file for your research, please cite: \n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse. \n# Database, baab006 (doi:10.1093/database/baab006). \nProbe\tSequence\tGeneSymbol\tGeneName\tGemmaId\tNCBIid\tGSE2018_bioMaterial_34.GSM36456___BioAssayId=1Name=BAL_47c_A0B1\tGSE2018_bioMaterial_29.GSM36451___BioAssayId=6Name=BAL_45a_A1B0\tGSE2018_bioMaterial_15.GSM36437___BioAssayId=20Name=BAL_27a_A0B0\tGSE2018_bioMaterial_4.GSM36426___BioAssayId=31Name=BAL_1_A0B0\tGSE2018_bioMaterial_2.GSM36424___BioAssayId=33Name=BAL_15a_A0B1\tGSE2018_bioMaterial_32.GSM36454___BioAssayId=3Name=BAL_47a_A0B0\tGSE2018_bioMaterial_27.GSM36449___BioAssayId=8Name=BAL_44a_A0B0\tGSE2018_bioMaterial_21.GSM36443___BioAssayId=14Name=BAL_39_A0B1\tGSE2018_bioMaterial_20.GSM36442___BioAssayId=15Name=BAL_33_A0B1\tGSE2018_bioMaterial_26.GSM36448___BioAssayId=9Name=BAL_43_A0B0\tGSE2018_bioMaterial_6.GSM36428___BioAssayId=29Name=BAL_13_A0B0\tGSE2018_bioMaterial_33.GSM36455___BioAssayId=2Name=BAL_47b_A0B1\tGSE2018_bioMaterial_17.GSM36439___BioAssayId=18Name=BAL_29_A1B0\tGSE2018_bioMaterial_13.GSM36435___BioAssayId=22Name=BAL_25_A0B0\tGSE2018_bioMaterial_23.GSM36445___BioAssayId=12Name=BAL_40_A0B0\tGSE2018_bioMaterial_28.GSM36450___BioAssayId=7Name=BAL_44b_A0B0\tGSE2018_bioMaterial_24.GSM36446___BioAssayId=11Name=BAL_41_A1B0\tGSE2018_bioMaterial_19.GSM36441___BioAssayId=16Name=BAL_31_A0B1\tGSE2018_bioMaterial_25.GSM36447___BioAssayId=10Name=BAL_42_A0B0\tGSE2018_bioMaterial_22.GSM36444___BioAssayId=13Name=BAL_4_A0B0\tGSE2018_bioMaterial_18.GSM36440___BioAssayId=17Name=BAL_3_A1B0\tGSE2018_bioMaterial_8.GSM36430___BioAssayId=27Name=BAL_18_A1B0\tGSE2018_bioMaterial_7.GSM36429___BioAssayId=28Name=BAL_17_A0B0\tGSE2018_bioMaterial_5.GSM36427___BioAssayId=30Name=BAL_12_A1B0\tGSE2018_bioMaterial_3.GSM36425___BioAssayId=32Name=BAL_15b_A0B0\tGSE2018_bioMaterial_12.GSM36434___BioAssayId=23Name=BAL_21_A0B0\tGSE2018_bioMaterial_9.GSM36431___BioAssayId=26Name=BAL_19_A0B0\tGSE2018_bioMaterial_10.GSM36432___BioAssayId=25Name=BAL_20a_A1B1\tGSE2018_bioMaterial_11.GSM36433___BioAssayId=24Name=BAL_20b_A1B1\tGSE2018_bioMaterial_1.GSM36423___BioAssayId=34Name=BAL_37_A1B1\tGSE2018_bioMaterial_30.GSM36452___BioAssayId=5Name=BAL_45b_A2B0\tGSE2018_bioMaterial_14.GSM36436___BioAssayId=21Name=BAL_26_A2B0\tGSE2018_bioMaterial_31.GSM36453___BioAssayId=4Name=BAL_46_A2B0\tGSE2018_bioMaterial_16.GSM36438___BioAssayId=19Name=BAL_27b_A2B1\n1007_s_at\t1007_s_at_collapsed\tDDR1\tdiscoidin domain receptor tyrosine kinase 1\t16908\t780\t7.5836\t7.5149\t7.9426\t7.5726\t7.6895\t7.747\t7.5579\t7.2625\t7.4659\t7.3409\t7.7495\t7.5836\t7.822\t7.6083\t7.6108\t7.6486\t7.8301\t7.4155\t7.8598\t7.5372\t7.6389\t7.3945\t7.3296\t7.6254\t7.642\t7.704\t7.6074\t8.1251\t7.6831\t7.5234\t7.8507\t7.3347\t7.6171\t7.6385\n1053_at\t1053_at_collapsed\tRFC2\treplication factor C subunit 2\t139878\t5982\t6.9008\t6.8009\t6.9914\t7.1967\t6.9169\t6.4509\t6.8932\t6.7594\t7.1623\t6.9441\t6.8418\t6.7719\t6.4701\t6.8874\t6.744\t6.8398\t6.4207\t6.8337\t6.634\t6.9803\t6.9255\t6.7607\t7.015\t7.082\t6.8054\t6.6631\t6.7386\t6.2169\t6.6692\t6.8769\t6.6228\t6.9671\t6.5623\t6.8402\n117_at\t117_at_collapsed\tHSPA7|HSPA6\theat shock protein family A (Hsp70) member 7 (pseudogene)|heat shock protein family A (Hsp70) member 6\t73442|73420\t3311|3310\t7.4346\t7.7029\t7.7987\t7.9137\t7.7466\t7.807\t7.4488\t7.3236\t7.6193\t7.4809\t7.7857\t7.791\t7.7153\t7.481\t7.3295\t7.8339\t8.2324\t7.6392\t8.6027\t7.8209\t7.6376\t7.9457\t8.148\t7.5137\t8.3775\t7.3311\t7.6101\t8.9948\t7.7385\t7.7543\t8.0032\t8.1108\t7.5221\t7.5053\n121_at\t121_at_collapsed\tPAX8\tpaired box 8\t173107\t7849\t9.1509\t9.428\t9.3332\t9.1608\t8.8577\t9.0129\t9.0078\t9.0458\t9.0435\t9.1961\t8.9763\t9.0637\t9.556\t8.9965\t9.2378\t8.8475\t9.4043\t9.0734\t8.987\t9.2315\t9.023\t9.2218\t9.0111\t9.163\t8.9894\t9.1115\t9.0487\t9.693\t9.2713\t9.1449\t9.0412\t8.8165\t9.2399\t8.9253\n1255_g_at\t1255_g_at_collapsed\tGUCA1ANB-GUCA1A|GUCA1A\tGUCA1ANB-GUCA1A readthrough|guanylate cyclase activator 1A\t10402669|58787\t118142757|2978\t3.9748\t3.9926\t3.9962\t4.1169\t3.9788\t3.945\t4.0353\t4.0047\t3.9895\t3.9749\t3.9999\t4.191\t4.1986\t3.9693\t4.037\t3.9649\t4.2678\t4.1094\t4.1081\t4.0075\t3.8168\t4.0413\t3.9619\t4.1162\t3.9818\t4.2462\t4.0512\t4.723\t4.0472\t4.0368\t3.9148\t3.957\t4.0902\t4.1647\n1294_at\t1294_at_collapsed\tUBA7\tubiquitin like modifier activating enzyme 7\t165857\t7318\t8.0512\t7.8481\t8.0362\t8.2978\t8.2437\t8.1893\t7.6526\t7.6184\t8.0514\t7.6264\t8.2552\t7.676\t8.1379\t7.9863\t8.0424\t8.2834\t8.2405\t8.3477\t8.0258\t8.0478\t8.2163\t7.7458\t8.188\t7.9344\t8.0258\t6.727\t7.2924\t7.213\t7.5449\t7.8528\t8.0715\t7.9229\t7.0863\t7.5198\n1316_at\t1316_at_collapsed\tTHRA\tthyroid hormone receptor alpha\t160776\t7067\t5.8251\t5.7495\t5.8783\t5.8014\t5.8045\t5.9517\t5.93\t5.8003\t5.7543\t5.7576\t5.8004\t5.8105\t6.1751\t5.813\t5.9054\t5.807\t6.1431\t6.0282\t5.9885\t5.7663\t5.7778\t5.8662\t5.7441\t5.9164\t6.0428\t6.4239\t6.2033\t6.5181\t5.8785\t5.8192\t5.901\t5.7307\t5.7442\t6.0342\n1320_at\t1320_at_collapsed\tPTPN21\tprotein tyrosine phosphatase non-receptor type 21\t227238\t11099\t5.0278\t4.6977\t4.8773\t4.9623\t4.8959\t4.9385\t5.601\t4.9198\t4.9711\t4.9674\t4.7135\t4.78\t4.888\t4.9157\t4.9604\t4.9639\t4.9033\t4.8436\t4.7897\t4.871\t4.8224\t4.8035\t4.7408\t4.9627\t4.9318\t5.1471\t5.1729\t5.0119\t4.7383\t4.8618\t4.7806\t4.6818\t4.8755\t4.9758\n1405_i_at\t1405_i_at_collapsed\tCCL5\tC-C motif chemokine ligand 5\t147052\t6352\t5.4452\t5.1815\t5.6907\t5.0938\t5.6752\t5.121\t5.8731\t4.9235\t5.0333\t5.0179\t8.4139\t5.3691\t5.516\t4.9412\t5.6315\t4.758\t5.8292\t6.0614\t5.5311\t7.1939\t7.8281\t4.9137\t4.5903\t6.2115\t7.8041\t6.0074\t5.7304\t6.4826\t8.7004\t8.5726\t9.3943\t6.7638\t5.9301\t5.6076\n1431_at\t1431_at_collapsed\tCYP2E1\tcytochrome P450 family 2 subfamily E member 1\t33104\t1571\t3.8357\t3.7918\t3.8725\t3.8444\t3.8142\t3.8356\t3.9912\t3.7955\t3.8791\t3.8172\t3.8016\t3.8793\t3.8674\t3.8844\t3.7936\t3.7149\t3.9306\t3.7555\t3.7919\t3.7646\t3.7422\t3.7627\t3.7409\t3.8532\t3.8988\t4.1843\t4.0179\t4.1031\t3.8357\t3.8252\t3.8331\t3.7994\t4.1635\t3.7985\n1438_at\t1438_at_collapsed\tEPHB3\tEPH receptor B3\t43254\t2049\t6.7774\t6.5141\t6.6158\t6.5813\t6.6212\t6.8403\t7.3128\t6.6126\t6.659\t6.6867\t6.5531\t6.5593\t6.9292\t6.5632\t6.6107\t6.5833\t6.6236\t6.7196\t6.4916\t6.2833\t6.6082\t6.6347\t6.3239\t6.6174\t6.7539\t6.689\t7.1478\t7.0775\t6.772\t6.6523\t6.5891\t6.4019\t6.9996\t6.4729\n1487_at\t1487_at_collapsed\tESRRA\testrogen related receptor alpha\t44096\t2101\t7.776\t7.8337\t7.6923\t8.0144\t7.8732\t7.7621\t7.8187\t7.5107\t7.6478\t7.4898\t7.5515\t7.4533\t7.7246\t7.6886\t7.7484\t7.9294\t7.5594\t7.7236\t7.636\t7.4774\t7.894\t7.4357\t7.7109\t7.6747\t7.7433\t7.7378\t7.6665\t7.1557\t7.6136\t7.5788\t7.5488\t7.5945\t7.54\t7.7664\n"}}},"404":{"description":"Either the dataset or the quantitation type do not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/samples":{"get":{"summary":"Retrieve the samples of a dataset","operationId":"getDatasetSamples","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}},{"name":"useProcessedQuantitationType","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListBioAssayValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/singleCellDimension":{"get":{"summary":"Retrieve a single-cell dimension of a single-cell dataset","operationId":"getDatasetSingleCellDimension","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}},{"name":"exclude","in":"query","description":"Exclude cell IDs from the output","schema":{"minItems":1,"uniqueItems":true,"type":"array","description":"List of fields to exclude from the payload. If the payload is a list of object, then the exclusion is applicable to all the listed objects.","items":{"type":"string"}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSingleCellDimensionValueObject"}},"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"object"},"example":"sample_id\tcell_id\tcategory\tcategory_uri\tcategory_id\tvalue\tvalue_uri\r\nH48-g2 , Entorhinal cortex\tAAACCCAAGGTCCAGA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACCCACAGATAAAC-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACCCAGTCCTTAAG-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOPCs\t\r\nH48-g2 , Entorhinal cortex\tAAACGAAAGCCTCAAT-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAACAGCGTGAA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tAstrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAATCCATAGAC-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGAATCTCCCTAG-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTAGGCCCAAA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTAGGTATAGT-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTCAACATACC-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTCAGCTTTCC-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTGTGGTCCCA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTTCGACACTA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAACGCTTCGGAATGG-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAAGAACCAAGCGAAC-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAAGAACGTTCTAACG-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATAGAAGGATG-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tOligodendrocytes\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATGTTCCCAAA-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tVascular Cells\t\r\nH48-g2 , Entorhinal cortex\tAAAGGATGTTCGGTAT-2_1\tcell type\thttp://www.ebi.ac.uk/efo/EFO_0000324\t1\tExcitatory Neurons\t\r\n"}}}}}},"/datasets/{dataset}/data/singleCell":{"get":{"summary":"Retrieve single-cell expression data of a dataset","operationId":"getDatasetSingleCellExpression","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"quantitationType","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}}],"responses":{"200":{"content":{"application/vnd.10xgenomics.mex":{"schema":{"type":"string","description":"Sample files are bundled in a TAR archive according to the 10x MEX format.","format":"binary","externalDocs":{"url":"https://www.10xgenomics.com/support/software/cell-ranger/latest/analysis/outputs/cr-outputs-mex-matrices"}},"example":"38651_GSE199762_600467_10x_MEX_expmat.unfilt.scdata\n├── 1003795_H48-g2_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003796_H29-g2_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003797_H33-g2_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003798_H31_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003799_H69_LGE_region\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003800_H39-g1_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003801_H39-g2_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003802_H33-g1_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003803_H71_EC_stream_region\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003804_H69_MGE_region\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003805_H71_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003806_H69_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003807_H37_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003808_H48-g1_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003809_H46-g2_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003810_H29-g1_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n├── 1003811_H46-g1_Entorhinal_cortex\n│   ├── barcodes.tsv.gz\n│   ├── features.tsv.gz\n│   └── matrix.mtx.gz\n└── 1003812_H69_CGE_region\n    ├── barcodes.tsv.gz\n    ├── features.tsv.gz\n    └── matrix.mtx.gz\n\n18 directories, 54 files\n"},"text/tab-separated-values; charset=UTF-8; q=0.9":{"schema":{"type":"string","format":"binary"},"example":"<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>429 Too Many Requests</title>\n</head><body>\n<h1>Too Many Requests</h1>\n<p>The user has sent too many requests\nin a given amount of time.</p>\n</body></html>\n"}}},"404":{"description":"Either the dataset or the quantitation type do not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/subSets/{subSet}":{"get":{"summary":"Obtain a specific subset of a dataset","operationId":"getDatasetSubSetById","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"subSet","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectExpressionExperimentSubSetWithGroupsValueObject"}}}}}}},"/datasets/{dataset}/subSetGroups/{subSetGroup}":{"get":{"summary":"Obtain a specific subset group of a dataset","operationId":"getDatasetSubSetGroup","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"subSetGroup","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectExpressionExperimentSubSetGroupValueObject"}}}}}}},"/datasets/{dataset}/subSetGroups":{"get":{"summary":"Obtain all the subset groups of a dataset","operationId":"getDatasetSubSetGroups","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExpressionExperimentSubSetGroupValueObject"}}}}}}},"/datasets/{dataset}/subSets/{subSet}/samples":{"get":{"summary":"Obtain the samples of a specific subset of a dataset","operationId":"getDatasetSubSetSamples","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"subSet","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListBioAssayValueObject"}}}}}}},"/datasets/{dataset}/subSets":{"get":{"summary":"Obtain all subsets of a dataset","operationId":"getDatasetSubSets","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExpressionExperimentSubSetWithGroupsValueObject"}}}}}}},"/datasets/{dataset}/svd":{"get":{"summary":"Retrieve the singular value decomposition (SVD) of a dataset expression data","operationId":"getDatasetSvd","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSimpleSVDValueObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets":{"get":{"summary":"Retrieve all datasets","operationId":"getDatasets","parameters":[{"name":"query","in":"query","description":"If specified, `sort` will default to `-searchResult.score` instead of `+id`. Note that sorting by `searchResult.score` is only valid if a query is specified.","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndPaginatedResponseDataObjectExpressionExperimentWithSearchResultValueObject"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/annotations":{"get":{"summary":"Retrieve usage statistics of annotations among datasets matching the provided query and filter","description":"Usage statistics are aggregated across experiment tags, samples and factor values mentioned in the experimental design.","operationId":"getDatasetsAnnotationsUsageStatistics","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"exclude","in":"query","description":"List of fields to exclude from the payload. Only `parentTerms` can be excluded.","schema":{"minItems":1,"uniqueItems":true,"type":"array","description":"List of fields to exclude from the payload. If the payload is a list of object, then the exclusion is applicable to all the listed objects.","items":{"type":"string"}}},{"name":"limit","in":"query","description":"Maximum number of annotations to returned; capped at 5000.","schema":{"maximum":5000,"minimum":1,"type":"integer","format":"int64"}},{"name":"minFrequency","in":"query","description":"Minimum number of associated datasets to report an annotation. If used, the limit will default to 5000.","schema":{"type":"integer","format":"int32"}},{"name":"category","in":"query","description":"A category URI to restrict reported annotations. If unspecified, annotations from all categories are reported. If empty, uncategorized terms are reported.","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndLimitedResponseDataObjectAnnotationWithUsageStatisticsValueObject"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}":{"get":{"summary":"Retrieve datasets by their identifiers","operationId":"getDatasetsByIds","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilteredAndInferredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}}}}},"/datasets/categories":{"get":{"summary":"Retrieve usage statistics of categories among datasets matching the provided query and filter","description":"Usage statistics are aggregated across experiment tags, samples and factor values mentioned in the experimental design.","operationId":"getDatasetsCategoriesUsageStatistics","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndLimitedResponseDataObjectCategoryWithUsageStatisticsValueObject"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{datasets}/expressions/differential":{"get":{"summary":"Retrieve the expression levels of a set of datasets subject to a threshold on their differential expressions","operationId":"getDatasetsDifferentialExpression","parameters":[{"name":"datasets","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"diffExSet","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"threshold","in":"query","description":"Maximum threshold on the corrected P-value to retain a result. The threshold is inclusive (i.e. 0.05 will match results with corrected P-values lower or equal to 0.05).","schema":{"type":"number","format":"double","default":1.0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":100}},{"name":"keepNonSpecific","in":"query","description":"Keep results from non-specific probes.","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","description":"Strategy for consolidating expression of multiple probes for a given gene.","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/analyses/differential/results/genes/{gene}":{"get":{"summary":"Retrieve the differential expression results for a given gene among datasets matching the provided query and filter","description":"Pagination with `offset` and `limit` is done on the datasets, thus `data` will hold a variable number of results.\n\nIf a result set has more than one probe for a given gene, the result corresponding to the lowest corrected P-value is retained. This statistic reflects the goodness of the fit of the linear model for the probe, and not the significance of the contrasts.\n\nResults for non-specific probes (i.e. probes that map to more than one genes) are excluded.","operationId":"getDatasetsDifferentialExpressionAnalysisResultsForGene","parameters":[{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}},{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32"}},{"name":"threshold","in":"query","description":"Maximum threshold on the corrected P-value to retain a result. The threshold is inclusive (i.e. 0.05 will match results with corrected P-values lower or equal to 0.05).","schema":{"maximum":1.0,"minimum":0.0,"type":"number","format":"double","default":1.0}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultByGeneValueObject"}},"text/tab-separated-values; charset=UTF-8; q=0.9":{"schema":{"type":"string","format":"binary"}}}}}}},"/datasets/analyses/differential/results/taxa/{taxon}/genes/{gene}":{"get":{"summary":"Retrieve the differential expression results for a given gene and taxa among datasets matching the provided query and filter","description":"Pagination with `offset` and `limit` is done on the datasets, thus `data` will hold a variable number of results.\n\nIf a result set has more than one probe for a given gene, the result corresponding to the lowest corrected P-value is retained. This statistic reflects the goodness of the fit of the linear model for the probe, and not the significance of the contrasts.\n\nResults for non-specific probes (i.e. probes that map to more than one genes) are excluded.","operationId":"getDatasetsDifferentialExpressionAnalysisResultsForGeneInTaxon","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}},{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32"}},{"name":"threshold","in":"query","description":"Maximum threshold on the corrected P-value to retain a result. The threshold is inclusive (i.e. 0.05 will match results with corrected P-values lower or equal to 0.05).","schema":{"maximum":1.0,"minimum":0.0,"type":"number","format":"double","default":1.0}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultByGeneValueObject"}},"text/tab-separated-values; charset=UTF-8":{"schema":{"type":"string","format":"binary"}}}}}}},"/datasets/expressions/genes/{gene}":{"get":{"summary":"Retrieve the expression levels of a gene among datasets matching the provided query and filter","operationId":"getDatasetsExpressionLevelsForGene","parameters":[{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}},{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"keepNonSpecific","in":"query","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/expressions/taxa/{taxon}/genes/{gene}":{"get":{"summary":"Retrieve the expression levels of a gene and taxa among datasets matching the provided query and filter","operationId":"getDatasetsExpressionLevelsForGeneInTaxon","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}},{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"keepNonSpecific","in":"query","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/{datasets}/expressions/genes/{genes}":{"get":{"summary":"Retrieve the expression data matrix of a set of datasets and genes","operationId":"getDatasetsExpressionLevelsForGenes","parameters":[{"name":"datasets","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"genes","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of NCBI IDs, Ensembl IDs or gene symbols. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}}},{"name":"keepNonSpecific","in":"query","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/{datasets}/expressions/taxa/{taxon}/genes/{genes}":{"get":{"summary":"Retrieve the expression data matrix of a set of datasets and genes","operationId":"getDatasetsExpressionLevelsForGenesInTaxon","parameters":[{"name":"datasets","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"genes","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of NCBI IDs, Ensembl IDs or gene symbols. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}}},{"name":"keepNonSpecific","in":"query","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/{datasets}/expressions/pca":{"get":{"summary":"Retrieve the principal components (PCA) of a set of datasets","operationId":"getDatasetsExpressionPca","parameters":[{"name":"datasets","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"component","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":100}},{"name":"keepNonSpecific","in":"query","schema":{"type":"boolean","default":false}},{"name":"consolidate","in":"query","schema":{"type":"string","description":"An option for gene expression level consolidation.","enum":["pickmax","pickvar","average"]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject"}}}}}}},"/datasets/platforms":{"get":{"summary":"Retrieve usage statistics of platforms among datasets matching the provided query and filter","description":"Usage statistics are aggregated across experiment tags, samples and factor values mentioned in the experimental design.","operationId":"getDatasetsPlatformsUsageStatistics","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndLimitedResponseDataObjectArrayDesignWithUsageStatisticsValueObject"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/taxa":{"get":{"summary":"Retrieve taxa usage statistics for datasets matching the provided query and filter","operationId":"getDatasetsTaxaUsageStatistics","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredResponseDataObjectTaxonWithUsageStatisticsValueObject"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/count":{"get":{"summary":"Count datasets matching the provided query and filter","operationId":"getNumberOfDatasets","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectLong"}}}},"503":{"description":"The search has timed out. This can only occur if the `search` parameter is provided. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/refresh":{"get":{"summary":"Retrieve a refreshed dataset","operationId":"refreshDataset","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"refreshVectors","in":"query","description":"Refresh processed data vectors.","schema":{"type":"boolean","default":false}},{"name":"refreshReports","in":"query","description":"Refresh experiment reports which include differential expression analyses and batch effects.","schema":{"type":"boolean","default":false}}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectExpressionExperimentValueObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/datasets/annotations/refresh":{"get":{"summary":"Retrieve refreshed dataset annotations.","operationId":"refreshDatasetsAnnotations","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"exclude","in":"query","description":"List of fields to exclude from the payload. Only `parentTerms` can be excluded.","schema":{"minItems":1,"uniqueItems":true,"type":"array","description":"List of fields to exclude from the payload. If the payload is a list of object, then the exclusion is applicable to all the listed objects.","items":{"type":"string"}}},{"name":"limit","in":"query","description":"Maximum number of annotations to returned; capped at 5000.","schema":{"maximum":5000,"minimum":1,"type":"integer","format":"int64"}},{"name":"minFrequency","in":"query","description":"Minimum number of associated datasets to report an annotation. If used, the limit will default to 5000.","schema":{"type":"integer","format":"int32"}},{"name":"category","in":"query","description":"A category URI to restrict reported annotations. If unspecified, annotations from all categories are reported. If empty, uncategorized terms are reported.","schema":{"type":"string"}}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndLimitedResponseDataObjectAnnotationWithUsageStatisticsValueObject"}}}}}}},"/datasets/platforms/refresh":{"get":{"summary":"Retrieve refreshed experiment-to-platform associations.","operationId":"refreshDatasetsPlatforms","parameters":[{"name":"query","in":"query","schema":{"$ref":"#/components/schemas/QueryArg"}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":50}}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndInferredAndLimitedResponseDataObjectArrayDesignWithUsageStatisticsValueObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/genes/{gene}/goTerms":{"get":{"summary":"Retrieve the GO terms associated to a gene","operationId":"getGeneGoTerms","parameters":[{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListGeneOntologyTermValueObject"}}}}}}},"/genes/{gene}/locations":{"get":{"summary":"Retrieve the physical locations of a given gene","operationId":"getGeneLocations","parameters":[{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListPhysicalLocationValueObject"}}}}}}},"/genes/{gene}/probes":{"get":{"summary":"Retrieve the probes associated to a genes across all platforms","operationId":"getGeneProbes","parameters":[{"name":"gene","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectCompositeSequenceValueObject"}}}}}}},"/genes":{"get":{"summary":"Retrieve all genes","operationId":"getGenes","parameters":[{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectGeneValueObject"}}}}}}},"/genes/{genes}":{"get":{"summary":"Retrieve genes matching gene identifiers","operationId":"getGenesByIds","parameters":[{"name":"genes","in":"path","required":true,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of NCBI IDs, Ensembl IDs or gene symbols. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"string","description":"An Ensembl gene identifier which typically starts with 'ENSG'.","externalDocs":{"url":"https://www.ensembl.org/"}},{"type":"string","description":"An NCBI gene identifier.","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/gene"}},{"type":"string","description":"An official gene symbol approved by HGNC.","externalDocs":{"url":"https://www.genenames.org/"}}]}}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListGeneValueObject"}}}}}}},"/genes/probes/refresh":{"get":{"summary":"Refresh gene-to-probe associations.","operationId":"refreshGenesProbes","responses":{"200":{"description":"default response","content":{"*/*":{}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/platforms/count":{"get":{"summary":"Count platforms matching the provided filter","operationId":"getNumberOfPlatforms","parameters":[{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgArrayDesign"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectLong"}}}}}}},"/platforms/{platform}/annotations":{"get":{"summary":"Retrieve the annotations of a given platform","description":"The following columns 
[...]
