{"openapi":"3.0.1","info":{"title":"Gemma RESTful API","description":"This website documents the usage of the [Gemma RESTful API](https://gemma.msl.ubc.ca/rest/v2/). Here you can find\nexample script usage of the API, as well as graphical interface for each endpoint, with description of its\nparameters and the endpoint URL.\n\nUse of this webpage and the Gemma Web services, including the REST API, is subject to [these terms and conditions](https://pavlidislab.github.io/Gemma/terms.html).\nPlease read these in full before continuing to use this webpage or any other part of the Gemma system.\n\nYou can [consult the CHANGELOG.md file](https://gemma.msl.ubc.ca/resources/restapidocs/CHANGELOG.md) to view \nrelease notes and recent changes to the Gemma RESTful API.\n","termsOfService":"https://pavlidislab.github.io/Gemma/terms.html","contact":{"name":"Pavlidis Lab Support","url":"https://pavlab.msl.ubc.ca/","email":"pavlab-support@msl.ubc.ca"},"version":"2.9.4"},"servers":[{"url":"https://gemma.msl.ubc.ca/rest/v2"},{"url":"https://staging-gemma.msl.ubc.ca/rest/v2"},{"url":"https://dev.gemma.msl.ubc.ca/rest/v2"},{"url":"http://localhost:8080/rest/v2"}],"security":[{"basicAuth":[]},{"cookieAuth":[]},{}],"tags":[{"name":"Admin/Pipeline","description":"Curator-driven pipeline batch submissions — admin only"},{"name":"Admin","description":"System monitoring endpoints — admin only"},{"name":"Groups","description":"User groups (CRUD + membership)"},{"name":"Internal/Pipeline","description":"Scheduler push callbacks — service-to-service only"},{"name":"Preboarded","description":"Proposed-but-not-loaded experiments + agent annotation sets"},{"name":"Tickets","description":"Curation workflow tickets"},{"name":"Workflow","description":"8-state experiment lifecycle"}],"paths":{"/admin/pipeline/batches/{batchId}/cancel":{"post":{"tags":["Admin/Pipeline"],"summary":"Cancel every non-terminal job in the batch","operationId":"cancelBatch","parameters":[{"name":"batchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatch"}}}}}}},"/admin/pipeline/batches/{batchId}/jobs/{jobId}/cancel":{"post":{"tags":["Admin/Pipeline"],"summary":"Cancel one job mid-batch","operationId":"cancelJob","parameters":[{"name":"batchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectBoolean"}}}}}}},"/admin/pipeline/batches/{batchId}":{"get":{"tags":["Admin/Pipeline"],"summary":"Retrieve one batch with rollup state","operationId":"getBatch","parameters":[{"name":"batchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatch"}}}}}}},"/admin/pipeline/batches/{batchId}/jobs/{jobId}/events":{"get":{"tags":["Admin/Pipeline"],"summary":"List progress events for one job","operationId":"jobEvents","parameters":[{"name":"batchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"sinceMillis","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListPipelineJobEvent"}}}}}}},"/admin/pipeline/batches":{"get":{"tags":["Admin/Pipeline"],"summary":"List batches submitted by the current curator","operationId":"listMyBatches","parameters":[{"name":"state","in":"query","schema":{"type":"string","enum":["OPEN","CLOSED","CANCELLED"]}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListPipelineJobBatch"}}}}}},"post":{"tags":["Admin/Pipeline"],"summary":"Submit a new pipeline batch","operationId":"submitBatch","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmitBatchRequest"}}}},"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectPipelineJobBatch"}}}}}}},"/admin/pipeline/registry":{"get":{"tags":["Admin/Pipeline"],"summary":"List pipeline names known to this Gemma instance","operationId":"pipelineRegistry","responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListString"}}}}}}},"/admin/blacklist":{"get":{"tags":["Admin"],"summary":"List blacklist entries","description":"Returns the current blacklist sorted by accession with `limit`/`offset` pagination applied in-process. `limit` defaults to 100 and is capped at 1000; `offset` defaults to 0. The response includes the total count of entries on the blacklist (independent of paging) so the UI can render a page navigator.","operationId":"listBlacklistEntries","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Add a blacklist entry","description":"Creates a blacklist row for the given GEO accession (GPL* → BlacklistedPlatform; GSE* → BlacklistedExperiment). Synchronous: the row is persisted before the response returns. Returns 201 with the new entry's value object. Returns 400 when accession or reason is missing, or when the accession prefix is neither GPL nor GSE. Returns 409 when an entry for that accession already exists (to update the reason, delete the entry and re-add it).","operationId":"addBlacklistEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistRequest"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Body missing, accession blank, reason blank, or unrecognised prefix","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Accession is already blacklisted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/caches":{"get":{"tags":["Admin"],"summary":"List the registered caches","description":"Returns the names of all caches known to the Spring CacheManager, sorted alphabetically. Per-cache hit/miss statistics are not available on the current build (post-EhCache-2 era).","operationId":"getCaches","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"delete":{"tags":["Admin"],"summary":"Clear all registered caches","description":"Iterates over the Spring CacheManager and clears every cache. Returns 204 on success.","operationId":"clearAllCaches","responses":{"204":{"description":"All caches cleared."}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/caches/{cacheName}":{"delete":{"tags":["Admin"],"summary":"Clear a single named cache","description":"Clears the cache identified by `{cacheName}`. Returns 204 on success, 404 if no cache by that name is registered.","operationId":"clearCache","parameters":[{"name":"cacheName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Cache cleared."},"404":{"description":"No cache registered under that name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users":{"get":{"tags":["Admin"],"summary":"List all users","description":"Returns every User row with their username, email, enabled flag, granted group authorities, signup-token-pending flag, soft-delete timestamps. Soft-deleted users are excluded unless `includeDeleted=true`. Sorted alphabetically by username.","operationId":"getUsers","parameters":[{"name":"includeDeleted","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Create a user with a temporary password","description":"Creates an immediately-enabled user (no email confirmation flow), generates a 16-character secure-random temp password, optionally grants admin role, and returns the plaintext temp password in the response body. The password appears in the response exactly once — store it elsewhere before navigating away. Returns 409 if username or email already exists.","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Missing or malformed username/email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Username or email already taken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/blacklist/{accession}":{"delete":{"tags":["Admin"],"summary":"Remove a blacklist entry","description":"Removes the blacklist row matching `{accession}`. Returns 204 on success, 404 when no entry exists.","operationId":"deleteBlacklistEntry","parameters":[{"name":"accession","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Entry removed."},"404":{"description":"No blacklist entry for that accession","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users/{username}":{"delete":{"tags":["Admin"],"summary":"Soft-delete a user","description":"Sets deletedAt = now, deletedBy = the current admin's username, and enabled = false. The User row stays in the database — hard delete via REST is forbidden because ACL sids and audit-event authorship FKs reference the user. Idempotent: a second DELETE on an already-deleted user returns 204.","operationId":"deleteUser","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"User soft-deleted (or already was)."},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"patch":{"tags":["Admin"],"summary":"Toggle a user's enabled flag and/or admin role","description":"Body fields are optional; only the supplied fields are applied. `enabled=false` locks the account (the user can't log in). `isAdmin=true` adds the user to the Administrators group; `isAdmin=false` removes them. 404 if the username doesn't exist; 400 if the body is empty.","operationId":"patchUser","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Empty body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/curation-agent/health":{"get":{"tags":["Admin"],"summary":"Curation-agents service liveness probe","description":"Issues a GET against `gemma.curationAgent.healthUrl` with a `gemma.curationAgent.healthTimeoutMs`-millisecond timeout (default 3000). Returns `status` = UP / DOWN / NOT_CONFIGURED, latencyMillis, and either the upstream HTTP status code or the exception class name. Always returns HTTP 200 — even when DOWN — so the UI can poll without triggering error handlers.","operationId":"getCurationAgentHealth","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/curation-status":{"get":{"tags":["Admin"],"summary":"Annotation-set + ticket lifecycle snapshot","description":"Per-role breakdown of AnnotationSet rows (last 24h / 7d / by role) plus open-ticket counts by TicketType and the oldest open-ticket age. Read-only.","operationId":"getCurationStatus","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/db/pool":{"get":{"tags":["Admin"],"summary":"Database connection pool snapshot","description":"Returns HikariCP pool stats: active / idle / total connections, threads currently awaiting a connection, plus the configured maximum pool size and connection-timeout. 503 if the configured DataSource is not a HikariDataSource.","operationId":"getDbPool","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"503":{"description":"Configured DataSource is not HikariCP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/hibernate/stats":{"get":{"tags":["Admin"],"summary":"Hibernate statistics snapshot","description":"Returns a flat snapshot of the Hibernate session-factory statistics: counts of sessions opened/closed, transactions, flushes, prepared statements, queries executed, plus query-cache and second-level-cache hit/miss/put counters. When Hibernate statistics collection is disabled the counters report zero.","operationId":"getHibernateStats","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/jobs":{"get":{"tags":["Admin"],"summary":"List currently tracked background tasks","description":"Returns a snapshot of every task currently tracked by the in-memory task store, sorted by submission time (newest first), with counts of tasks by status. The store evicts tasks roughly 10 minutes after completion.","operationId":"getJobs","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/geo-scrape/last":{"get":{"tags":["Admin"],"summary":"Most recent GEO scrape watermark","description":"Returns the most recently created GeoScrapeWatermark row (IN_PROGRESS / COMPLETED / FAILED / CANCELLED), or 404 if no scrape has ever been run.","operationId":"getLastGeoScrape","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"404":{"description":"No scrape has been run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies":{"get":{"tags":["Admin"],"summary":"Loaded-ontology status snapshot","description":"Enumerates every OntologyService bean and reports its stable `identifier` (the handle to pass to the refresh / rebuild-slim endpoints), the full set of `acceptedNames` those endpoints match on, and enabled / loaded / initialization-thread state, inference mode, language level, search-enabled flag, and process-imports flag. Term counts are not included by default (`getAllURIs()` traverses the in-memory model); pass `?includeTermCount=true` to include them. If a bean throws while being inspected the error message is captured in the row's `error` field and inspection of the remaining ontologies continues.","operationId":"getOntologies","parameters":[{"name":"includeTermCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/search/indices":{"get":{"tags":["Admin"],"summary":"Hibernate Search 7 per-index status","description":"Enumerates every @Indexed entity known to Hibernate Search 7 and reports, for each: the JPA entity name, the Java simple class name, the Lucene index name, the on-disk index directory (under `gemma.search.dir`), the document count (matchAll fetchTotalHitCount), and the directory mtime. Document-count queries run in a short-lived Hibernate session; on query failure the documentCount field is reported as -1 and the error message is included.","operationId":"getSearchIndices","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]},"post":{"tags":["Admin"],"summary":"Trigger a Hibernate Search 7 mass-reindex","description":"Kicks off a destructive rebuild of the on-disk Lucene index for one (or all) indexable entities. Returns 202 with a list of queued entities. Run via the legacy CLI (IndexGemmaCLI) too — this endpoint is the curation-UI / ops-script equivalent so an admin can rebuild without shelling onto the container.","operationId":"reindexSearchIndices","parameters":[{"name":"entity","in":"query","schema":{"type":"string","nullable":true}}],"responses":{"202":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Unknown entity name.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Another reindex is already running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/sessions":{"get":{"tags":["Admin"],"summary":"List authenticated users with active sessions","description":"Enumerates every principal registered with the Spring Security `SessionRegistry`. For each principal returns the username, the count of currently-tracked sessions (excluding expired), the timestamp of the most recent request across those sessions, and the list of granted authorities when the principal is a `UserDetails`. Anonymous sessions are not included — only authenticated ones are tracked.","operationId":"getSessions","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/system":{"get":{"tags":["Admin"],"summary":"JVM and OS resource snapshot","description":"Returns a single-read snapshot of process resources: heap and non-heap memory (used/committed/max bytes), thread counts (live, daemon, peak), uptime, OS name/version/arch, processor count, and 1-minute system load average. For historical series use `/metrics` (Prometheus).","operationId":"getSystem","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/geo-grab":{"post":{"tags":["Admin"],"summary":"Scrape GEO record metadata by accession","description":"Fetches GEO series metadata for the given accessions and returns it without importing into Gemma. Useful for previewing a GEO record from the curation-UI before triggering a full import. Synchronous; expect sub-second latency per accession. Uses the DETAILED retrieve preset (sub-series status, MeSH headings, library strategy, sample details, errors ignored).","operationId":"grabGeoRecords","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoGrabRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Empty or missing accessions list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"502":{"description":"GEO E-utilities request failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/import-geo":{"post":{"tags":["Admin"],"summary":"Submit a batch of GEO accessions for async import","description":"Iterates `accessions` and submits one async load task per accession (port of `LoadExpressionDataCli`'s bulk path). Optional flags are applied uniformly across the batch. Returns 202 with the list of submitted task IDs — poll each one via `/tasks/{taskId}`. Rejects an empty list or more than 100 accessions with 400. Blank entries inside the list are silently skipped; if every entry is blank the request is rejected.","operationId":"importGeoBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportGeoBatchRequest"}}}},"responses":{"202":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Body missing, accession list empty, or batch over cap","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/{name}/rebuild-slim":{"post":{"tags":["Admin"],"summary":"Rebuild the slim-cache for an ontology","description":"Currently only CHEBI and MONDO are supported (other ontologies return 404). Accepts the same name spellings as the refresh endpoint. Kicks off the slim extraction asynchronously and returns 202. The service must already be loaded. 409 if a rebuild is already in flight.","operationId":"rebuildOntologySlim","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Rebuild started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"404":{"description":"Ontology not found or doesn't support slim rebuild.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"Rebuild already in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology is not loaded yet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/ontologies/{name}/refresh":{"post":{"tags":["Admin"],"summary":"Refresh a single ontology in-process","description":"Kicks off an asynchronous re-initialization of the named ontology. The name may be the ontology's well-known abbreviation (`CLO`, `HPO`, `TGEMO`, ...), its identifier (`cellLineOntology`), its class name, or its `dc:title`; matching ignores case and punctuation, and every accepted spelling is listed as `acceptedNames` by `GET /admin/ontologies`. The currently-loaded model keeps serving reads until the new model is built and atomically swapped in. Use the per-ontology load-status endpoint to watch progress. 404 if no bean matches the given name; 409 if a refresh on that ontology is already running.","operationId":"refreshOntology","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"forceIndexing","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"202":{"description":"Refresh accepted; the initialization thread is now running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"404":{"description":"No ontology with that name.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"A refresh is already in progress for that ontology.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/hibernate/reset":{"post":{"tags":["Admin"],"summary":"Reset Hibernate statistics","description":"Clears the Hibernate session-factory statistics counters. Returns 204 on success. Has no effect on whether statistics collection itself is enabled.","operationId":"resetHibernateStats","responses":{"204":{"description":"Hibernate statistics reset."}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/users/{username}/password":{"post":{"tags":["Admin"],"summary":"Reset a user's password to a temporary password","description":"Generates a 16-character secure-random temp password, sets it (encoded) as the user's password, and returns the plaintext once. The password appears in the response exactly once — store it elsewhere before navigating away. 404 if the username doesn't exist; 409 if the user is soft-deleted.","operationId":"resetUserPassword","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"404":{"description":"No user with that username","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"User is soft-deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/geo-scrape":{"post":{"tags":["Admin"],"summary":"Submit a GEO scrape & preboard run (async, or sync dry-run)","description":"Iterates recent GEO records, filters to human/mouse/rat expression profiling, evaluates the registered matchers (subset selectable via `criteria`: {brain, scbrain, tfperturb}). With dryRun=false (default) creates PreboardedExperiment rows and returns 202 + async task ID. With dryRun=true evaluates only and returns 200 + the candidate list inline (no watermark, no preboarded rows, no ticket).","operationId":"submitGeoScrape","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoScrapeRequest"}}}},"responses":{"200":{"description":"dryRun=true — candidates inline.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"202":{"description":"dryRun=false — async submission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/admin/tasks/multifunctionality":{"post":{"tags":["Admin"],"summary":"Submit an async recompute of per-gene multifunctionality for one taxon","description":"Port of `MultifunctionalityCli`. Resolves `taxon` (common name, scientific name, NCBI ID, or Gemma taxon ID) and submits a single async task that calls `GeneMultifunctionalityPopulationService.updateMultifunctionality(taxon)`. Returns 202 with the submitted task ID; poll `/tasks/{taskId}` for progress.","operationId":"submitMultifunctionalityRecompute","parameters":[{"name":"taxon","in":"query","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}}],"responses":{"202":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObject"}}}},"400":{"description":"Missing or malformed taxon identifier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"No taxon matches the supplied identifier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/resultSets/count":{"get":{"summary":"Count result sets matching the provided filter","operationId":"getNumberOfResultSets","parameters":[{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"},"example":""}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectLong"}}}}}}},"/resultSets/{resultSet}/pvalueDistribution":{"get":{"summary":"Binned p-value distribution for a differential-expression result set","description":"Returns a histogram with `bins` equal-width bins over [0, 1]. The `column` parameter selects between raw (PVALUE) and corrected (CORRECTED_PVALUE) p-values; rows with a null p-value in the chosen column are excluded. Bin i covers [i/bins, (i+1)/bins); the last bin is closed on the right so a p-value of exactly 1.0 is counted in the final bin.","operationId":"getPvalueDistribution","parameters":[{"name":"resultSet","in":"path","required":true,"schema":{"type":"integer","description":"An expression analysis result set numerical identifier.","format":"int32"}},{"name":"bins","in":"query","description":"Number of equal-width bins over [0, 1]; must be between 1 and 1000.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":20}},{"name":"column","in":"query","description":"Which p-value column to bin.","schema":{"type":"string","default":"corrected","enum":["raw","corrected"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PvalueDistributionResponseDataObject"}}}},"204":{"description":"The result set has no non-null p-values in the requested column."},"400":{"description":"Invalid `bins` (must be 1..1000) or `column` (must be 'raw' or 'corrected').","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The analysis result set could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/resultSets/{resultSet}":{"get":{"summary":"Retrieve a single analysis result set by its identifier","description":"A slice or results can be retrieved by specifying the `offset` and `limit` parameters. This is only applicable to the JSON representation. The TSV output exposes the following columns: id, probe_id, probe_name, gene_(id|name|ncbi_id|official_symbol|official_name), pvalue, corrected_pvalue, rank, contrast_{fvId}_(coefficient|log2fc|tstat|pvalue). For interaction terms, `{fvId}` is structured as `{id1}_{id2}`. For continuous factors, `{fvId}` is empty and a single `_` delimiter is used.","operationId":"getResultSet","parameters":[{"name":"resultSet","in":"path","required":true,"schema":{"type":"integer","description":"An expression analysis result set numerical identifier.","format":"int32"}},{"name":"threshold","in":"query","schema":{"type":"number","format":"double"}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32"}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32"}},{"name":"includeFactorValuesInContrasts","in":"query","description":"Include complete factor values in contrasts instead of only populating `factorValueId` and `secondFactorValueId`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}},{"name":"includeTaxonInGenes","in":"query","description":"Include complete taxon in genes instead of only populating `taxonId`. When this is set to true, a `taxa` collection will be included in `DifferentialExpressionAnalysisResultSetValueObject`. In 2.9.0, this will default to false.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject"}},"text/tab-separated-values; charset=UTF-8; q=0.9":{"schema":{"type":"string"},"example":"# If you use this file for your research, please cite:\n# Lim et al. (2021) Curation of over 10 000 transcriptomic studies to enable data reuse.\n# Database, baab006 (doi:10.1093/database/baab006).\n# Experimental factors: [name: Diet, values: [id: 20959, characteristics: [high fat diet], id: 20960, characteristics: [reference subject role]]]\n# Baseline: id: 20959, characteristics: [high fat diet]\nid\tprobe_id\tprobe_name\tgene_id\tgene_name\tgene_ncbi_id\tgene_official_symbol\tgene_official_name\tpvalue\tcorrected_pvalue\trank\tcontrast_20960_coefficient\tcontrast_20960_log2fc\tcontrast_20960_tstat\tcontrast_20960_pvalue\n107660162\t6379542\tILMN_1256775\t582688\tThrsp\t21835\tThrsp\tthyroid hormone responsive\t7.375E-9\t0.0001\t2.144E-5\t3.1352\t3.1352\t17.6207\t7.375E-9\n107678499\t6358971\tILMN_2690657\t813306\tBpifb6\t228796\tBpifb6\tBPI fold containing family B, member 6\t7.832E-9\t0.0001\t4.289E-5\t-1.6286\t-1.6286\t-17.5121\t7.832E-9\n107643534\t6363391\tILMN_1222060\t619131\tArhgef5\t54324\tArhgef5\tRho guanine nucleotide exchange factor 5\t1.329E-8\t0.0001\t6.433E-5\t-1.2474\t-1.2474\t-16.5818\t1.329E-8\n107647171\t6357370\tILMN_1229667\t702894\tSlc43a1\t72401\tSlc43a1\tsolute carrier family 43, member 1\t2.093E-8\t0.0001\t8.578E-5\t1.0412\t1.0412\t15.8207\t2.093E-8\n107665034\t6350196\tILMN_2460179\t797000\tTph2\t216343\tTph2\ttryptophan hydroxylase 2\t3.414E-8\t0.0002\t0.0001\t-3.8165\t-3.8165\t-15.037\t3.414E-8\n107671178\t6363608\tILMN_2591159\t695665\tFam13c\t71721\tFam13c\tfamily with sequence similarity 13, member C\t4.385E-8\t0.0002\t0.0001\t-0.5792\t-0.5792\t-14.6504\t4.385E-8\n107641223\t6360279\tILMN_1217241\t785630\tKlhl25\t207952\tKlhl25\tkelch-like 25\t5.419E-8\t0.0002\t0.0002\t-0.756\t-0.756\t-14.3302\t5.419E-8\n107657532\t6339362\tILMN_1251292\t502225|502237\tEar1|Ear2\t13586|13587\tEar1|Ear2\teosinophil-associated, ribonuclease A family, member 1|eosinophil-associated, ribonuclease A family, member 2\t9.577E-8\t0.0003\t0.0002\t-1.4862\t-1.4862\t-13.5006\t9.577E-8\n107680187\t6345095\tILMN_2713898\t486090\tDdr1\t12305\tDdr1\tdiscoidin domain receptor family, member 1\t1.172E-7\t0.0003\t0.0002\t-0.8617\t-0.8617\t-13.2167\t1.172E-7\n107684452\t6363087\tILMN_2772273\t724368\tCldn22\t75677\tCldn22\tclaudin 22\t1.634E-7\t0.0004\t0.0002\t0.6557\t0.6557\t12.7622\t1.634E-7\n107641691\t6378887\tILMN_1218223\t561628\tPvalb\t19293\tPvalb\tparvalbumin\t1.918E-7\t0.0004\t0.0002\t-1.9261\t-1.9261\t-12.5478\t1.918E-7\n107652484\t6371658\tILMN_1240770\t760788\tAcly\t104112\tAcly\tATP citrate lyase\t2.145E-7\t0.0004\t0.0003\t1.8169\t1.8169\t12.4002\t2.145E-7\n107684617\t6340514\tILMN_2774161\t523186\tHsd11b1\t15483\tHsd11b1\thydroxysteroid 11-beta dehydrogenase 1\t2.022E-7\t0.0004\t0.0003\t1.4447\t1.4447\t12.4776\t2.022E-7\n107654165\t6372412\tILMN_1244211\t\t\t\t\t\t2.463E-7\t0.0005\t0.0003\t1.2247\t1.2247\t12.2193\t2.463E-7\n"}}},"404":{"description":"The analysis result set could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/resultSets":{"get":{"summary":"Retrieve all result sets matching the provided criteria","description":"Supports two pagination modes. Legacy mode: pass `offset` (and `limit`); response includes `offset` and `totalElements`. Cursor mode (recommended for deep pagination and consistency under writes): pass an opaque `cursor` token from a previous response's `nextCursor` / `prevCursor` field. `offset` and `cursor` are mutually exclusive — passing a non-null `cursor` selects cursor mode. In cursor mode the result is always sorted by ascending `id` (the user's `?sort=` is ignored); the dataset / databaseEntry / filter constraints are preserved; `totalElements` is `null` by default (no count query per request).","operationId":"getResultSets","parameters":[{"name":"datasets","in":"query","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"databaseEntries","in":"query","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of database entry IDs or accessions. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A database entry numerical identifier.","format":"int64"},{"type":"string","description":"A database entry name."}]}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionAnalysisResultSet"},"example":""},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionAnalysisResultSet"},"example":"+id"},{"name":"cursor","in":"query","description":"Opaque keyset-pagination cursor token; mutually exclusive with `offset`.","schema":{"type":"string","description":"An opaque cursor token returned in a previous response's nextCursor or prevCursor field, used for keyset pagination."}}],"responses":{"200":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FilteredAndPaginatedResponseDataObject"},{"$ref":"#/components/schemas/FilteredAndCursorPaginatedResponseDataObject"}]}}}}}}},"/annotation-sets/{id}":{"get":{"summary":"Fetch a single annotation set (full payload)","operationId":"getAnnotationSet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationSetResponse"}}}}}},"delete":{"summary":"Delete an annotation set by id","operationId":"deleteAnnotationSet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Annotation set deleted."},"404":{"description":"No annotation set with that id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotation-sets/{id}/finalize":{"post":{"summary":"Mark an annotation set finalized (done editing / polished)","operationId":"finalizeAnnotationSet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{}}}}}},"/candidates":{"get":{"summary":"Screening queue (alias of /datasets?filter=curationDetails.needsAttention=true)","description":"Redirects to /datasets with `curationDetails.needsAttention = true` applied.","operationId":"getCandidates","responses":{"302":{"description":"Redirection to /datasets with the needs-attention filter applied."}}}},"/annotation-sets":{"get":{"summary":"Cross-experiment list of annotation sets (thin projection)","operationId":"listAnnotationSetsAcross","parameters":[{"name":"role","in":"query","description":"Filter by role: `proposal`, `draft`, `snapshot`, or `all` (default).","schema":{"type":"string","nullable":true}},{"name":"source","in":"query","description":"Filter by source: `agent`, `curator`, `gemma_intake`, `external_import`, or `all` (default).","schema":{"type":"string","nullable":true}},{"name":"createdBy","in":"query","description":"Filter by createdBy (username or agent run identifier).","schema":{"type":"string","nullable":true}},{"name":"datasetIds","in":"query","description":"Restrict to a comma-separated list of dataset (investigation) ids.","schema":{"type":"string","nullable":true}},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}}],"responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponseDataObjectAnnotationSetSummaryResponse"}}}}}}},"/annotation-sets/{id}/reopen":{"post":{"summary":"Clear finalized status on an annotation set","operationId":"reopenAnnotationSet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"default response","content":{"application/json":{}}}}}},"/annotations/datasets/{dataset}/annotations":{"put":{"summary":"Bulk-replace a dataset's annotations (diff-then-apply)","description":"Computes the diff between the desired tag set and the dataset's current tag set, then applies adds and removes per-row in a single transaction. Emits one TagAddedEvent per add and one TagRemovedEvent per remove (NOT a single summary event). Idempotent: re-PUTing the same set yields an empty diff and no events. Distinct from PUT /datasets/{id}/annotations on DatasetsWebService, which emits a single aggregate ManualAnnotationEvent. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"replaceDatasetAnnotations","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationsReplaceRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationReplaceReport"}}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks curator privileges.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]},"post":{"summary":"Add a single annotation tag to a dataset","description":"Adds one experiment-level annotation (tag) to the dataset. Emits a TagAddedEvent on the dataset's audit trail. Duplicate tags (same category URI + value URI) are rejected with 409 Conflict. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"addDatasetAnnotation","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"annotationSetId","in":"query","description":"Optional id of the AnnotationSet this tag is being applied from; linkage is parked until the source-set → emitted-event audit link lands.","schema":{"type":"integer","format":"int64","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationDto"}}}},"responses":{"201":{"description":"Annotation created.","content":{"application/json":{}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks curator privileges.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"An annotation with the same (category, value) already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]}},"/annotations/categories":{"get":{"summary":"Retrieve all ontology categories used in Gemma","operationId":"getAnnotationCategories","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationCategoryValueObject"}}}}}}},"/annotations/predicates":{"get":{"summary":"Retrieve all ontology predicates used in Gemma","operationId":"getAnnotationPredicates","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListOntologyTermSimpleValueObject"}}}}}}},"/annotations/term":{"get":{"summary":"Retrieve an ontology term by its URI","operationId":"getAnnotationTerm","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectOntologyTermValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology lookup timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/children":{"get":{"summary":"Retrieve the children of the given annotations","description":"Terms that are returned satisfies the [inverse of rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [has_part](http://purl.obolibrary.org/obo/BFO_0000051) relations. When `direct` is set to false, this rule is applied recursively.","operationId":"getAnnotationsChildren","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct parents.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/parents":{"get":{"summary":"Retrieve the parents of the given annotations","description":"Terms that are returned satisfies the [rdfs:subClassOf](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Subclass_Axioms) or [part_of](http://purl.obolibrary.org/obo/BFO_0000050) relations. When `direct` is set to false, this rule is applied recursively.","operationId":"getAnnotationsParents","parameters":[{"name":"uri","in":"query","description":"Term URI","schema":{"type":"string"}},{"name":"direct","in":"query","description":"Only include direct children.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"404":{"description":"No term matched the given URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/diseaseModels":{"get":{"summary":"Infer which annotations model a disease","description":"Curation records a mutant/wild-type contrast as a `genotype` factor, not a `disease model` one, so a study of `Chd8` mutants carries no disease annotation and a user ticking \"autism\" in the disease selector never sees it. This recovers the relation instead of asking anyone to curate it again: experiments annotated BOTH with a disease AND with a value in one of the requested categories attest that the value stands for the disease. Nothing is asserted and no annotation is written — every result carries its supporting experiment count, its evidence split, an example dataset, and a ready-made `filter` a client can hand straight to `GET /datasets`.\n\n**Ask it either way round.** Give `uri` for \"what models this disease?\" (the disease selector reaching through to genotypes). Give `value` or `valueUri` for \"what does this genotype model?\" (an experiment page captioning its own annotations). Give both to test one specific inference.\n\n**Support alone is not evidence.** `C57BL/6J` co-occurs with every disease in the corpus and models none of them — the obesity is diet-induced, the stroke surgical, the lymphoma belongs to the cell line. What separates a model from a background strain is the FRACTION of the value's experiments the disease accounts for, so results are ranked by `numberOfExperiments × specificity` and every row reports `specificity`, `numberOfExperimentsWithValue` and `numberOfDiseasesAttested` so a client can set its own bar. `minSpecificity` applies one server-side.\n\n**What the inference SAYS depends on the taxon.** A mouse carrying the `Mecp2` null is a **model of** Rett syndrome (`disease model`); a human line carrying `LRRK2 G2019S` simply **has** Parkinson disease (`disease`). Rows are split by taxon and report which.\n\n`category` generalises the derivation past genotypes — a strain or an exposure can stand for a disease on the same evidence, and be judged by the same specificity.\n\n`excludeDatasets` holds datasets out of the evidence. Excluding the dataset you are looking at is what makes \"this `disease model` tag is inferable, so it could be dropped\" an honest claim rather than a restatement of the tag being tested.","operationId":"getDiseaseModels","parameters":[{"name":"uri","in":"query","description":"URI of the disease term. Omit to ask the question from the model side.","schema":{"type":"string"}},{"name":"value","in":"query","description":"Restrict the model side to these literal annotation values, e.g. `APP/PS1`. Most strain- and construct-shaped genotypes were never grounded in an ontology, so this is the usual way to ask the reverse question.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"valueUri","in":"query","description":"Restrict the model side to these value URIs. OR'd with `value`.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"category","in":"query","description":"Categories the model side must be under, as labels (`genotype`) or category URIs. Defaults to `genotype,strain`; add `treatment` to include exposures, or pass an empty value to accept any category.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":"genotype,strain"}}},{"name":"inferSubTerms","in":"query","description":"Also count experiments annotated with a sub-class of the given disease term, as inference does elsewhere in the API. The sub-terms folded in are echoed back in `inferredTerms`. Ignored when `uri` is omitted.","schema":{"type":"boolean","default":true}},{"name":"minSupport","in":"query","description":"Drop inferences attested by fewer experiments than this.","schema":{"type":"integer","format":"int32","default":1}},{"name":"minSpecificity","in":"query","description":"Drop inferences whose specificity is below this, in [0, 1]. The default of 0 admits everything, including the background strains — no threshold has been tuned against curator judgement yet, and the shape of the distribution is worth seeing in the UI before one is fixed here.","schema":{"type":"number","format":"double","default":0}},{"name":"excludeDatasets","in":"query","description":"Datasets held out of the evidence, by id or short name.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of dataset IDs or short names. The value may be compressed with gzip and encoded with base64.","items":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}},{"name":"limit","in":"query","description":"Maximum number of inferences to return.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectDiseaseModelInferenceValueObject"}}}},"400":{"description":"Neither side of the relation was constrained, or a numeric parameter is out of range.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"Ontology inference timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/datasets/{dataset}/annotations/{annotationId}":{"delete":{"summary":"Remove a single annotation tag from a dataset","description":"Removes the annotation with the given id from the dataset. Emits a TagRemovedEvent. Returns 404 if no such annotation exists on this dataset. Requires GROUP_CURATOR or GROUP_ADMIN.","operationId":"removeDatasetAnnotation","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"annotationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Annotation removed."},"403":{"description":"The caller lacks curator privileges.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset or annotation does not exist on this dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]}},"/annotations/search":{"get":{"summary":"Search for annotation tags","operationId":"searchAnnotations","parameters":[{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"rank","in":"query","description":"Ranking strategy to apply on top of the raw Lucene order. `lucene` (default) preserves today's behaviour. `usage` blends rank with per-URI experiment usage count. `coverage` sorts by fraction of query tokens present in the hit's label. `composite` combines coverage, usage, and rank into a single weighted score. `commonality` orders by how many experiments were annotated with each candidate by someone who wrote this exact query string, which separates candidates that `usage` cannot: a search for `dmso` finds 508 experiments meant the compound and 16 meant `reference substance role`, though both terms are well used. Purely numeric queries form no prior. Use `usage` instead when the question is which term is meant rather than which name is written.","schema":{"type":"string","default":"lucene"}},{"name":"limit","in":"query","description":"Maximum number of hits to return. Defaults to 20 (typeahead UX). Hard upper bound is 100; values outside [1, 100] yield HTTP 400. The truncation is applied AFTER ranking, so reducing the limit also reduces top-N enrichment cost.","schema":{"type":"integer","format":"int32","default":20}},{"name":"prefixes","in":"query","description":"Allow-list of URI namespace prefixes; the candidate set is filtered to URIs containing one of these tokens BEFORE ranking + truncation. Comma-separated (e.g. `CL_,EFO_`). When omitted, no filter is applied. Pushing the filter server-side avoids the truncate-then-filter footgun where allow-list survivors depend on which items the per-strategy `limit` happened to keep.","schema":{"type":"string","default":""}},{"name":"upstream","in":"query","description":"When `true`, delegate the ontology Lucene-index lookup to the upstream gemma-rest configured by `gemma.upstream.annotationSearch.url` (e.g. staging). Lets a local 2.0 instance benefit from staging's richer ontology index while still applying 2.0's local filtering / ranking on top. Returns 400 if the upstream URL is unset. Default `false` (local path).","schema":{"type":"boolean","default":false}},{"name":"exactLabel","in":"query","description":"When `true`, keep only candidates whose label is case-insensitively equal to the (trimmed) query string. Cuts wire traffic for resolver-style callers that already know the exact label and only need the canonical row(s). Filter is applied BEFORE ranking + truncation, so `top_k`/`limit` still applies when an exact match has multiple alternate-URI rows. Empty result is `200` with `data: []`. Default `false` (current substring behaviour). See handoffs/HANDOFF_2026-05-25_EXACT_LABEL_PARAM.md.","schema":{"type":"boolean","default":false}},{"name":"category","in":"query","description":"Hint from the calling widget about what kind of annotation is being edited. Accepts the category label (e.g. `genotype`, `organism part`), the matching EFO URI, or any spelling that differs only in case and separators — `cell line`, `cellLine`, `Cell Line` and `cell_line` are one category. An unrecognised value is ignored (no promotion), never an error. Gene-symbol matches (value=symbol, valueUri=NCBI Gene URI, category=`gene`) are merged in unconditionally so STAT5B finds the gene whether the picker is on Genotype, Treatment, or a generic characteristic. When supplied WITHOUT an explicit `prefixes` allow-list, the category's preferred ontology namespaces (configured by `annotation.category.prefixes`, and readable per-category from `/annotations/categories`) promote *exactly-matching* hits in those namespaces to the front — so `FTC` under `treatment` leads with emtricitabine (CHEBI) rather than the identically-labelled MGI gene. Promotion never filters and never applies to near-matches; see `suppress_near_matches` for the filtering counterpart. The parameter keys the response cache.","schema":{"type":"string","default":""}},{"name":"suppressNearMatches","in":"query","description":"When `true`, drop near-matches for *designation-shaped* queries — a single token carrying both letters and digits, which is the shape of a compound code (`MK-2206`, `GSK2879552`), a cell-line designation (`NCI-H358`), or a mouse strain (`C57BL/6J`). For those, a hit that merely shares a prefix or some tokens is never the same entity — `MK-8353` is a different compound from `MK-2206` — so only hits matching the query exactly on the preferred label or a declared synonym are kept (compared hyphen- and `cell`-suffix-insensitively, so `MK2206` still finds `MK-2206`). Descriptive queries (`diamide`, `high fat diet`) are left alone: there a near-match is often the right term, and returning nothing just pushes the caller onto a fuzzy fallback, which is the failure mode this flag exists to prevent. Off by default — typeahead needs prefix matching, and a curator mid-way through typing `NCI-H3` must still see candidates. Resolver-style callers that hold a complete name should pass `true`.\n\nWhen identity matching runs, the response carries a `negativeEvidence` object beside `data`. `solidMatch: false` is a CONFIDENT negative — we searched and nothing names this string — which an empty `data` array alone cannot tell you apart from \"the ontology wasn't loaded\" or \"this call never ran\". `ruledOut` lists the terms that came back and are NOT it, because knowing there is no match does not stop a downstream stage from proposing `mk-8353` for `MK-8722`, whereas knowing it is not `mk-8353` does. The ruled-out terms are deliberately kept OUT of `data`, so a client that ignores the new field can never pick one up by reading `data[0]`.","schema":{"type":"boolean","default":false}},{"name":"taxon","in":"query","description":"Optional taxon hint to scope gene fan-out. Accepts the same TaxonArg forms as elsewhere (common name `mouse`, scientific name `Mus musculus`, NCBI taxonomy id `10090`, or numeric Gemma taxon id). When supplied, gene matches are restricted to that taxon — typing `Il10` on a mouse dataset no longer surfaces rat/human Il10 rows. When omitted (default), gene fan-out returns all taxa as before. The ontology search side is unaffected.","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"includeGeneCount","in":"query","description":"When true, populate `geneCount` on each hit with the distinct number of genes annotated to that GO term (including descendants walked under the `geneCountMaxTerms` cap). Adds a parallel fan-out at the response shape boundary; sub-100ms on a warm GO index. Default false.","schema":{"type":"boolean","default":false}},{"name":"geneCountMaxTerms","in":"query","description":"When `includeGeneCount=true`, cap the per-hit BFS descendant walk at this many GO terms. Default 50 (bounds broad parents like `metabolic process` to ~50ms per hit). 0 = unbounded; not recommended for typeahead.","schema":{"type":"integer","format":"int32","default":50}},{"name":"includeGenes","in":"query","description":"When `true` (default), merge synthetic gene rows (symbol / name / alias matches) into the results — the STAT5B-finds-the-gene behaviour. Each query token fires three sequential GeneService probes, the dominant slice of the per-call latency floor. Resolver-style callers working a non-gene position (organism part, disease, …) pass `false` to skip the fan-out entirely and cut that floor.","schema":{"type":"boolean","default":true}},{"name":"includeExampleUsage","in":"query","description":"When `true`, attach to each hit one representative ACL-visible example of how the term has actually been used in the corpus (owning factor value + factor, and the statement triple when present, plus the source dataset id) — for showing a rare/unfamiliar term in context in a picker. One batched, ACL-filtered lookup for the result page; default false so the common typeahead path pays nothing. Gate rendering client-side (e.g. only for low `usageCount`).","schema":{"type":"boolean","default":false}},{"name":"excludeExperiments","in":"query","description":"Experiments to leave out of every corpus tally — the usage counts behind `rank=usage`, the per-string prior behind `rank=commonality`, and `priorCuration`. Accepts dataset ids or short names (`GSE12345`), comma separated.\n\nThis exists for leave-one-out evaluation. A tally over the whole corpus includes the very experiments a held-out gold set was drawn from, so it is partly counting the answer key and cannot score a resolver. Exclude those experiments and the count becomes independent evidence. Unknown identifiers are a 400 rather than being ignored, because a silently mis-spelled exclusion yields a contaminated number that still looks clean.","schema":{"type":"string","nullable":true}},{"name":"includePriorCuration","in":"query","description":"When `true`, add a `priorCuration` section listing the terms prior curators actually chose when they met this string, most used first, each with the number of distinct experiments and an `agreement` share.\n\nThis answers a question lexical search cannot: `vehicle`, `untreated` and `sham` are curated as `reference substance role` / `reference subject role`, terms sharing no word with the string, so no ranking of a label search will ever surface them. Kept out of `data` precisely because these terms did not come from the ontology search.\n\nThese are counts of what curators did, not of what is correct — a string mis-tagged for years returns with a large count. Read `agreement` alongside: a settled convention scores near 1.0, a contested one visibly does not. Costs a scan of the annotation corpus, so it is off by default and cached.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSearchResponseDataObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/search/batch":{"post":{"summary":"Batch search for annotation tags","description":"Resolve many labels in ONE request. Each item is searched independently (NOT unioned into a single result set the way a comma-delimited ?query= is) and returns its own ordered result list, so a curation resolver can collapse the dozens of round-trips a proposal pass would otherwise fire into a single call. Per-item work runs in parallel server-side (bounded to 8 workers) and reuses the SAME response cache as GET /annotations/search, so repeated labels — within the batch or across later calls — are free. The shared knobs (rank, limit, prefixes, exactLabel, suppressNearMatches, taxon, includeGenes, includeGeneCount, geneCountMaxTerms) apply to every item; only category is per-item. A per-item failure is reported in that item's `error` field and does NOT fail the batch. At most 200 items per request.","operationId":"searchAnnotationsBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSearchBatchRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchBatchResultValueObject"}}}},"400":{"description":"The batch is empty / oversized, or a shared parameter is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/annotations/search/{query}":{"get":{"summary":"Search for annotation tags","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchAnnotationsByPathQuery","parameters":[{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/search/datasets":{"get":{"summary":"Retrieve datasets associated to an annotation tags search","description":"This is deprecated in favour of the [/datasets](#/default/getDatasets) endpoint. Use the `AND` operator to intersect the results of multiple queries.","operationId":"searchDatasets","parameters":[{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"},"example":""},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"},"example":"+id"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/search/{query}/datasets":{"get":{"summary":"Retrieve datasets associated to an annotation tags search","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchDatasetsByQueryInPath","parameters":[{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"},"example":""},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"},"example":"+id"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/{taxon}/search/datasets":{"get":{"summary":"Retrieve datasets within a given taxa associated to an annotation tags search","description":"This is deprecated in favour of the [/datasets](#/default/getDatasets) endpoint with a `query` parameter and a `filter` parameter with `taxon.id = {taxon} or taxon.commonName = {taxon} or taxon.scientificName = {taxon}` to restrict the taxon instead.  Use the `AND` operator to intersect the results of multiple queries.","operationId":"searchTaxonDatasets","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"query","in":"query","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"},"example":""},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"},"example":"+id"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"503":{"description":"The search for annotations has timed out. It can generally be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After` header for the recommended delay.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/annotations/{taxon}/search/{query}/datasets":{"get":{"summary":"Retrieve datasets within a given taxa associated to an annotation tags search","description":"This is deprecated in favour of passing `query` as a query parameter.","operationId":"searchTaxonDatasetsByQueryInPath","parameters":[{"name":"taxon","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical taxon identifier.","format":"int64"},{"type":"integer","description":"An NCBI taxon identifier.","format":"int64","externalDocs":{"url":"https://www.ncbi.nlm.nih.gov/taxonomy"}},{"type":"string","description":"A taxon identifier that matches either its scientific or common name."}]}},{"name":"query","in":"path","description":"A comma-delimited list of keywords to find annotations. Matching datasets for each query are intersected.","required":true,"explode":false,"schema":{"minItems":1,"type":"array","description":"A comma-delimited list of strings. The value may be compressed with gzip and encoded with base64.","items":{"type":"string","default":""}}},{"name":"filter","in":"query","schema":{"$ref":"#/components/schemas/FilterArgExpressionExperiment"},"example":""},{"name":"offset","in":"query","schema":{"minimum":0,"type":"integer","description":"The offset of the first retrieved result.","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"maximum":100,"minimum":1,"type":"integer","description":"Limit the number of results retrieved.","format":"int32","default":20}},{"name":"sort","in":"query","schema":{"$ref":"#/components/schemas/SortArgExpressionExperiment"},"example":"+id"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject"}}}},"400":{"description":"The search query is empty or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"deprecated":true}},"/login":{"post":{"summary":"Authenticate username/password and mint an opaque bearer token","description":"POST a JSON body {username, password}. On success the response carries {token, user} where token is an opaque random string; send it as Authorization: Bearer <token> on subsequent calls.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"default response","content":{"application/json":{}}}}}},"/logout":{"post":{"summary":"Revoke the presented bearer token (idempotent)","operationId":"logout","responses":{"200":{"description":"default response","content":{"application/json":{}}}}}},"/me":{"get":{"summary":"Retrieve the authenticated user (alias of /rest/v2/users/me)","operationId":"me","responses":{"200":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectUserValueObject"}}}}}}},"/completions/datasets":{"get":{"summary":"Prefix-aware completions for datasets (expression experiments)","description":"Returns matching dataset identifiers (id, short name) with the dataset's short name as description. Backed by ExpressionExperimentService.loadAllIdentifiersAndName so the lookup avoids fetching full VOs.","operationId":"getDatasetCompletions","parameters":[{"name":"prefix","in":"query","schema":{"type":"string","default":""}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/completions/dataset-groups":{"get":{"summary":"Prefix-aware completions for dataset (expression-experiment) groups","operationId":"getDatasetGroupCompletions","parameters":[{"name":"prefix","in":"query","schema":{"type":"string","default":""}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/completions/ontology-terms":{"get":{"summary":"Prefix-aware completions for ontology terms used as Characteristic values","description":"Returns matching ontology terms by URI and, where applicable, by OBO short ID. Backed by CharacteristicReadService.findValueGroupedByValueUri.","operationId":"getOntologyTermCompletions","parameters":[{"name":"prefix","in":"query","schema":{"type":"string","default":""}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/completions/platforms":{"get":{"summary":"Prefix-aware completions for array-design platforms","description":"Returns matching platforms. Each platform contributes id, shortName, name, and any alternate names. Pass {@code generic=true} to restrict to platforms that are valid as 'generic gene' targets.","operationId":"getPlatformCompletions","parameters":[{"name":"prefix","in":"query","schema":{"type":"string","default":""}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}},{"name":"generic","in":"query","description":"If true, restrict the candidate set to generic-gene-capable platforms.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/completions/protocols":{"get":{"summary":"Prefix-aware completions for protocols","operationId":"getProtocolCompletions","parameters":[{"name":"prefix","in":"query","schema":{"type":"string","default":""}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/completions/taxa":{"get":{"summary":"Prefix-aware completions for taxa","description":"Returns matching taxa as { value, description } pairs. Each taxon contributes up to four entries (id, ncbiId, commonName, scientificName); duplicates are dropped.","operationId":"getTaxonCompletions","parameters":[{"name":"prefix","in":"query","description":"Case-insensitive prefix to match against the candidate value.","schema":{"type":"string","default":""}},{"name":"limit","in":"query","description":"Maximum number of suggestions to return; capped at 500.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectListCompletionValueObject"}}}}}}},"/datasets/{dataset}/heatmap-data":{"get":{"summary":"Retrieve raw matrix + metadata for a client-rendered heatmap","description":"Returns a probe×sample expression matrix plus per-row, per-column and per-factor metadata. Selection modes (mutually exclusive, listed in precedence order): (1) ?genes=csv, (2) ?probes=csv, (3) ?resultSet=N&threshold=p (diffex top hits), (4) ?pcaComponent=k&pcaCount=n (PCA-loaded probes), (5) default fallback: a random sample of ?sampleSize=n probes (default 20, max 200). Optionally restrict the sample columns to a single ?subSet=N — useful for cell-type-resolved views on single-cell data and for client-driven paging. By default the matrix comes from the dataset's processed data; pass ?quantitationType=id-or-name to source it from a different QT instead. A non-processed QT is served from its raw vectors and supports the genes / probes selection modes and the random-sample fallback (resultSet and pcaComponent return 400); non-numeric-double representations such as integer read-counts are coerced to double. By default the values of assays flagged as outliers are masked to NaN; pass ?maskOutliers=false to receive their stored expression values instead. This is always effective for a non-processed quantitationType (raw vectors); for the processed QT it returns whatever is on disk, which is currently masked at creation time, so the flag is usually a no-op there today. NO ordering decisions are made server-side; the client sorts, groups, palettes, and renders.","operationId":"getDatasetHeatmapData","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"genes","in":"query","schema":{"type":"string","nullable":true}},{"name":"probes","in":"query","schema":{"type":"string","nullable":true}},{"name":"resultSet","in":"query","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"threshold","in":"query","schema":{"type":"number","format":"double","nullable":true}},{"name":"pcaComponent","in":"query","schema":{"type":"integer","format":"int32","nullable":true}},{"name":"pcaCount","in":"query","schema":{"type":"integer","format":"int32","nullable":true}},{"name":"sampleSize","in":"query","schema":{"type":"integer","format":"int32","nullable":true}},{"name":"encoding","in":"query","schema":{"type":"string","default":"json"}},{"name":"subSet","in":"query","description":"Restrict the heatmap to a single subset's samples — useful for cell-type-resolved views on single-cell data. When omitted, the full matrix is returned.","schema":{"type":"integer","format":"int64","nullable":true}},{"name":"quantitationType","in":"query","description":"Quantitation-type selector (id or name). When omitted, the dataset's processed QT is used. A non-processed QT is served from its raw vectors and supports the genes / probes selection modes and the random-sample fallback; resultSet and pcaComponent are rejected.","schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A quantitation type ID.","format":"int64"},{"type":"string","description":"A quantitation type name."}]}},{"name":"maskOutliers","in":"query","description":"When true (default), values for assays flagged as outliers are masked to NaN. Pass false to receive their stored expression values instead. Always effective for a non-processed quantitationType (raw vectors); for the processed QT it returns whatever is on disk, which is currently masked at creation, so the flag is usually a no-op there today.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectHeatmapDataValueObject"},"example":"{\n  \"data\": {\n    \"datasetId\": 12345,\n    \"datasetShortName\": \"GSE6789\",\n    \"matrix\": {\n      \"values\": [\n        [1.0, 2.0, 3.0, 4.0],\n        [0.5, 0.6, 0.7, 0.8],\n        [5.0, 6.0, 7.0, 8.0]\n      ],\n      \"encoding\": \"json\",\n      \"rowsCount\": 3,\n      \"colsCount\": 4,\n      \"quantitationType\": {\n        \"id\": 999,\n        \"name\": \"Log2 ratio\",\n        \"isPreferred\": true,\n        \"isRatio\": true,\n        \"scale\": \"LOG2\"\n      }\n    },\n    \"rows\": [\n      {\n        \"designElementId\": 101,\n        \"designElementName\": \"ILMN_1\",\n        \"genes\": [\n          { \"id\": 672, \"officialSymbol\": \"BRCA1\", \"name\": \"BRCA1 DNA repair associated\" }\n        ]\n      },\n      {\n        \"designElementId\": 102,\n        \"designElementName\": \"ILMN_2\",\n        \"genes\": [\n          { \"id\": 672, \"officialSymbol\": \"BRCA1\", \"name\": \"BRCA1 DNA repair associated\" }\n        ],\n        \"annotations\": {\n          \"logFC\": 1.42,\n          \"module\": \"purple\",\n          \"isMultifunctional\": false\n        }\n      },\n      {\n        \"designElementId\": 103,\n        \"designElementName\": \"ILMN_3\"\n      }\n    ],\n    \"columns\": [\n      {\n        \"bioAssayId\": 8000,\n        \"bioMaterialId\": 7000,\n        \"name\": \"GSM12345\",\n        \"outlier\": false,\n        \"factorValueIds\": { \"78\": 1235 }\n      },\n      {\n        \"bioAssayId\": 8001,\n        \"bioMaterialId\": 7001,\n        \"name\": \"GSM12346\",\n        \"outlier\": false,\n        \"factorValueIds\": { \"78\": 1234 }\n      },\n      {\n        \"bioAssayId\": 8002,\n        \"bioMaterialId\": 7002,\n        \"name\": \"GSM12347\",\n        \"outlier\": false,\n        \"factorValueIds\": { \"78\": 1235 }\n      },\n      {\n        \"bioAssayId\": 8003,\n        \"bioMaterialId\": 7003,\n        \"name\": \"GSM12348\",\n        \"outlier\": false,\n        \"factorValueIds\": { \"78\": 1234 }\n      }\n    ],\n    \"factors\": [\n      {\n        \"factor\": {\n          \"id\": 78,\n          \"name\": \"tissue\",\n          \"type\": \"categorical\",\n          \"category\": \"OrganismPart\",\n          \"categoryUri\": \"http://purl.obolibrary.org/obo/CARO_0000000\",\n          \"baselineRelevance\": \"required\",\n          \"values\": [\n            {\n              \"id\": 1234,\n              \"isBaseline\": false,\n              \"summary\": \"liver\",\n              \"statements\": [\n                { \"subject\": \"liver\", \"category\": \"OrganismPart\" }\n              ]\n            },\n            {\n              \"id\": 1235,\n              \"isBaseline\": true,\n              \"summary\": \"kidney\",\n              \"statements\": [\n                { \"subject\": \"kidney\", \"category\": \"OrganismPart\" }\n              ]\n            }\n          ]\n        }\n      },\n      {\n        \"factor\": {\n          \"id\": 92,\n          \"name\": \"age\",\n          \"type\": \"continuous\",\n          \"baselineRelevance\": \"not_applicable\",\n          \"baselineRelevanceReason\": \"Continuous factors have no baseline.\"\n        },\n        \"measurements\": {\n          \"8000\": 24.0,\n          \"8001\": 36.0,\n          \"8002\": 48.0,\n          \"8003\": 60.0\n        }\n      }\n    ],\n    \"quantitationType\": {\n      \"id\": 999,\n      \"name\": \"Log2 ratio\",\n      \"isPreferred\": true,\n      \"isRatio\": true,\n      \"scale\": \"LOG2\"\n    }\n  }\n}\n"}}},"400":{"description":"Malformed query parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}}}},"/datasets/{dataset}/samples/{bioAssayId}/characteristics":{"get":{"summary":"Retrieve the characteristics (tags) of a sample","description":"Returns the direct characteristics held by the sample's biomaterial, including the full Statement shape (predicate / object / second pair) for statement-backed tags. The sample is addressed by its BioAssay id (as in the outlier endpoints); characteristics live on the underlying biomaterial.","operationId":"getSampleCharacteristics","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"bioAssayId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSetAnnotationValueObject"}}}},"404":{"description":"The dataset or sample does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]},"put":{"summary":"Replace the characteristics (tags) of a sample","description":"Idempotent set-replace for the direct characteristics of the sample's biomaterial. The diff is computed by (category, categoryUri, value, valueUri) plus statement awareness; unchanged tags keep their identity, drops are removed, new ones are added with an `IC` evidence code. The sample is addressed by its BioAssay id. A single `ManualAnnotationEvent` is recorded on the owning experiment (sample tag edits surface on the experiment's history). Requires `ACL_SECURABLE_EDIT` on the dataset.","operationId":"updateSampleCharacteristics","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"bioAssayId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationsUpdateRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectSetAnnotationValueObject"}}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks edit permission on the dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset or sample does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]},"post":{"summary":"Add a characteristic (tag) to a sample","description":"Adds a single characteristic to the sample's biomaterial, accepting the full Statement shape (predicate / object / second pair). A `TagAddedEvent` is recorded on the owning experiment. Returns 409 if a tag with the same (category, value) already exists. Requires `ACL_SECURABLE_EDIT` on the dataset.","operationId":"addSampleCharacteristic","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"bioAssayId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationTagInput"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectAnnotationValueObject"}}}},"400":{"description":"The request body is missing or malformed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"403":{"description":"The caller lacks edit permission on the dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset or sample does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"A tag with the same (category, value) already exists on the sample.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":[]},{"cookieAuth":[]}]}},"/datasets/{dataset}/samples/outliers":{"post":{"summary":"Batch mark or unmark sample outliers","description":"Body: `{\"mark\": [bioAssayId,...], \"unmark\": [bioAssayId,...]}`. The listed assays must all belong to the path-derived dataset; otherwise a 400 is returned and NOTHING is mutated (validation runs before any service call). Returns the updated full outlier set (across the dataset).","operationId":"batchMarkSampleOutliers","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchOutlierRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseDataObjectBatchOutlierResponse"}}}},"400":{"description":"An id appears in both mark and unmark, or doesn't belong to the dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_ADMIN"]},{"cookieAuth":["GROUP_ADMIN"]}]}},"/datasets/{dataset}/factor-values/{factorValueId}/needs-attention":{"post":{"summary":"Mark a factor value as needing curator attention","description":"Opens a curator ticket against the factor value. Body: `{\"note\": \"...\"}` — the note is the ticket title suffix. The factor value must belong to the path-derived dataset; otherwise a 400 is returned. Idempotency is enforced by the underlying service: marking an already-flagged factor value throws 409.","operationId":"markFactorValueNeedsAttention","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"factorValueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorValueNeedsAttentionRequest"}}}},"responses":{"204":{"description":"Ticket opened."},"400":{"description":"The factor value does not belong to the dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset or factor value does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"The factor value already has an open needs-attention ticket.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_USER"]},{"cookieAuth":["GROUP_USER"]}]},"delete":{"summary":"Clear the needs-attention flag on a factor value","description":"Resolves every open ticket targeting the factor value. `note` is recorded as the resolution reason. 409 if the factor value is not currently flagged.","operationId":"clearFactorValueNeedsAttention","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"required":["value"],"oneOf":[{"type":"integer","description":"A numerical dataset identifier.","format":"int64"},{"type":"string","description":"A dataset short name."}]}},{"name":"factorValueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"note","in":"query","description":"Resolution reason; recorded on every ticket transition.","schema":{"type":"string","nullable":true}}],"responses":{"204":{"description":"Tickets resolved."},"400":{"description":"The factor value does not belong to the dataset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"404":{"description":"The dataset or factor value does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}},"409":{"description":"The factor value has no open needs-attention ticket.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErrorObject"}}}}},"security":[{"basicAuth":["GROUP_USER"]},{"cookieAuth":["GROUP_USER"]}]}},"/datasets/{dataset}/curation":{"put":{"summary":"Commit a curation draft to a dataset (all-or-none)","description":"Applies a whole curation draft (CurationDocument) in one transaction — either every supported section applies or, on any failure, nothing does. Sections: `basics` (name/description/shortName), `publications`, `design` (factors → factor-values → statements, per-sample assignments, baseline flags, split advice), `tags` (experiment-level), `sampleCharacteristics` (per-sample), and `curationDetails` (curationNote only — troubled / needsAttention 400 here and go through the ticket endpoints). New entities carry a `clientRef` (echoed as `clientRef → newGemmaId` in the report `idMap`); deletions are declared via each section's `deletedIds`. A design change that would delete differential-expression analyses requires `?force=true` (admin) or returns 409. Optimistic concurrency: `baseline.lastModified` (the dataset `lastUpdated` the draft was built against) is checked; a stale baseline returns 409. Requires `ACL_SECURABLE_EDIT`; a shortName change additionally requires admin. Returns a CurationCommitReport.","operationId":"commitCuration","parameters":[{"name":"dataset","in":"path"
[...]
